@import "main";

.enter {
    &__header {
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(52, 53, 62, 0.5);
    }

    &__subhead {
        display: block;
        margin-top: 20px;
        font-size: 24px;
        line-height: 1.3;
    }

    &__step {
        font-family: $exo;
        font-size: 42px;
        font-weight: 500;
    }
}

.auth {
    width: 425px;
    margin: 52px auto 0 auto;

    &__header {
        @extend %flexbox;
        justify-content: space-between;
    }

    &__link {
        padding: 6px 46px;
        border: 1px solid $accent;
        border-radius: 8px;
        color: $accent;
        text-align: center;
        transition: color .2s, background-color .2s;

        &:not(.active):hover {
            background-color: $accent;
            color: #fff;
        }

        &.active {
            position: relative;
            color: $gen;
            border-radius: 8px 8px 0px 0px;
            border-color: transparent;
            box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
            background-color: #fff;
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                left: -1px;
                bottom: -15px;
                width: calc(100% + 2px);
                height: 15px;
                background-color: #ffffff;
                z-index: 1;
            }
        }
    }

    &__body {
        position: relative;
        @extend %flexbox;
        flex-direction: column;
        margin-top: 6px;
        padding: 40px 40px 50px 40px;
        background-color: #fff;
        box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
        border-radius: 8px;
    }

    &__form {
        &.error .auth__log-error {
            display: block;
        }
    }

    &__log-error {
        display: none;
        color: #FF6562;
        margin-bottom: 30px;
    }

    &__field {
        &:not(:first-of-type) {
            margin-top: 30px;
        }

        &--confirm {
            display: flex;
        }
    }

    &__label {
        font-size: 18px;
        font-weight: 400;
    }

    &__input {
        @extend %input;
        width: 345px;
        margin-top: 10px;
    }

    &__submit {
        @extend %button;
        display: block;
        width: fit-content;
        margin: 40px auto 0;
        padding: 15px 78px;
        font-size: 14px;
        font-weight: 500;
    }

    &__forgot,
    &__reg {
        @extend %link;
        font-size: 14px;
    }

    &__forgot {
        width: fit-content;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        margin-top: 20px;
    }

    &__new {
        width: fit-content;
        margin-top: 12px;
        font-size: 14px;

        &>a {
            @extend %link;
            font-size: 14px;
        }
    }

    &__reg {
        margin-left: 5px;
        text-decoration: underline;
        font-weight: 500;
    }

    &__checkbox {
        @extend %checkbox;

        &~label {
            flex-shrink: 0;
            margin-right: 11px;
        }
    }

    &__confirm {
        font-size: 14px;

        & a {
            @extend %link;
            font-size: 14px;
        }
    }

    &__step-title {
        display: block;
        margin-bottom: 30px;
        font-family: $exo;
        font-size: 18px;
        font-weight: 400;
        color: $blue;
    }
}

@include small {
    .auth {
        width: 100%;
        margin-top: 40px;

        &__body {
            margin-top: 6px;
            padding: 40px 30px;
        }

        &__input {
            width: 100%;
        }

        &__new {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }

        &__link {
            padding: 8px 24px;

            &.active {
                padding: 11px 14px;
            }
        }

        &__log-error {
            width: 100%;
            font-size: 15px;
        }

        &__submit {
            width: 100%;
            font-size: 14px;
            padding: 15px 58px;
            margin-top: 40px;
        }
    }

    .enter {
        &__header {
            padding-bottom: 0;
            border-bottom: none;
        }

        &__title {
            font-size: 24px;
        }

        &__subhead {
            font-size: 18px;
        }
    }
}

@include xx-small {
    .auth {
        &__link {
            padding: 4px 12px;

            &.active {
                padding: 5.5px 7px;
            }
        }
    }
}
