@import "main";

.category {
    &__header {
        position: relative;
        height: 25.0625rem;
        width: 100%;
        box-sizing: border-box;
        padding: 6.25rem 7.5rem;
        overflow: hidden;
        background-color: $gray-darken;
        margin-bottom: 3.75rem;

        &::after {
            content: '';
            position: absolute;
            right: 1.1875rem;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: url(../img/category/header-bg.svg) right bottom no-repeat;
            background-size: 12rem 23.875rem;
        }
    }

    &__title,
    &__text {
        position: relative;
        z-index: 1;
        color: #ffffff;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }

    &__text {
        @extend %exo-text;
        font-size: 1.5rem;
        line-height: 1.3;
    }

    &__icon {
        position: absolute;
        right: 1.25rem;
        bottom: 1.25rem;
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: 7.5rem;
        }

        &Desc {
            margin-bottom: 3.125rem;
        }

        &Title,
        &Text {
            width: 70%;
        }

        &Title {
            &:not(:last-child) {
                margin-bottom: 3.125rem;
            }
        }

        &Text {
            @extend %exo-text;
            font-size: 1.5rem;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        &Item {
            @extend %nav-card;
        }
    }
}

.subcategory {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.625rem;
    }

    &__section {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 6.25rem;
        }
    }

    &__title {
        font-family: $exo;
        color: $blue;
    }
}

.schemes {
    &:not(:last-child) {
        margin-bottom: 3.125rem;
    }

    &__title {
        font-family: $exo;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }
}

.events {
    @extend %flexbox;
    flex-direction: column;

    &__slider {
        position: relative;
        width: calc(100% + 2.5rem);

        &Box {
            box-sizing: border-box;
            padding: .5rem 1.25rem 3.125rem;
            overflow: hidden;

            &>.owl-stage-outer {
                overflow: visible;
            }
        }

        &Item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 24.5625rem;
            width: 100%;
            box-sizing: border-box;
            padding: 3.125rem 1.875rem;
            border-radius: 8px;
            box-shadow: -1px 9px 20px rgba($gray-darken, .25);

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background: url(../img/index/slider-item-bg.svg) top right no-repeat;
                background-size: 60%;
            }
        }

        &Status {
            @extend %button-status;
            margin-bottom: 1.5625rem;
        }

        &Title {
            font-family: $exo;
            font-weight: 600;
        }

        &Date {
            color: $gray-darken;
            font-family: $exo;
        }

        &Nav {
            position: absolute;
            top: calc(50% - 2.5625rem);
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }

        &Dots {
            display: none;
            z-index: 1;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            box-sizing: border-box;
            padding: .125rem;
            @extend %flexbox;
        }
    }

    &__link {
        @extend %button-small;
    }
}

.videos {
    @extend %flexbox;
    flex-direction: column;

    &__box {
        position: relative;
        display: flex;

        &--promo {
            margin-bottom: 3.125rem;
        }
    }

    &__column {
        width: calc(50% - 1rem);

        &:first-child {
            margin-right: 2rem;
        }
    }

    &__link {
        @extend %button-small;
    }
}

.community {
    @extend %flexbox;
    flex-direction: column;

    &__slider {
        position: relative;
        width: calc(100% + 2.5rem);

        &Box {
            box-sizing: border-box;
            padding: .5rem 1.25rem 3.5rem;
            overflow: hidden;

            &>.owl-stage-outer {
                overflow: visible;
            }

            .owl-item img {
                width: 48%;
            }
        }

        &Item {
            display: flex;
            height: 27.5rem;
            width: 100%;
            box-sizing: border-box;
            padding: 3.125rem;
            border-radius: 8px;
            box-shadow: -1px 9px 20px rgba($gray-darken, .25);
        }

        &Content {
            width: 48%;
        }

        &Img {
            height: 100%;
            object-fit: cover;
            margin-right: 4%;
        }

        &Content {
            position: relative;
        }

        &Title {
            font-family: $exo;
            font-size: 1.75rem;
            font-weight: 700;
            margin-bottom: 1.25rem;
        }

        &Text {
            @extend %exo-text;
            font-size: 1.125rem;
            line-height: 1.625;
        }

        &Link {
            position: absolute;
            left: 0;
            bottom: 0;
            @extend %button-small;
        }

        &Nav {
            position: absolute;
            top: calc(50% - 2.75rem);
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }

        &Dots {
            z-index: 1;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            box-sizing: border-box;
            padding: .125rem;
            @extend %flexbox;
        }
    }
}

.schedule {
    @extend %flexbox;
    justify-content: space-between;
    padding: 1.875rem;
    border-radius: 8px;
    box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);

    &:not(:first-child) {
        margin-top: 1.875rem;
    }

    & * {
        font-family: $exo;
    }

    &__date {
        @extend %flexbox;
        justify-content: center;
        flex-wrap: wrap;
        height: 100px;
        width: 100px;
        padding: 0.875rem 1.375rem;
        border-radius: 10px;
        background-color: $bgc;
        color: $blue;
    }

    &__day {
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
    }

    &__month {
        font-weight: 600;
    }

    &__content {
        max-width: 46.375rem;
    }

    &__format {
        font-weight: 500;
        color: $blue;
    }

    &__text {
        margin-top: 0.75rem;
        font-size: 22px;
        font-weight: 600;
    }

    &__button {
        @extend %button-small;
    }
}

.article {
    & * {
        font-family: $exo;
    }

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
    border-radius: 8px;
    transition: box-shadow .3s;

    &:not(:first-child) {
        margin-top: 80px;
    }

    &:hover {
        box-shadow: -1px 9px 20px rgba(107, 119, 133, .45);
    }

    &__content {
        max-width: 650px;

        &--digest {
            max-width: 396px;
        }
    }

    &__date {
        font-weight: 500;
        color: $blue;
    }

    &__title {
        margin-top: 32px;
        font-size: 24px;
        font-weight: 600;

        &--digest {
            font-size: 36px;
        }
    }

    &__text {
        margin-top: 20px;
        line-height: 1.3;
    }

    &__image {
        width: 340px;
        height: 220px;
        object-fit: cover;
        position: relative;

        &--digest {
            width: 622px;
            height: 300px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__digest {
        position: absolute;
        right: 40px;
        bottom: 24px;
        font-size: 42px;
        color: #ffffff;
    }
}

.pagination {
    display: flex;
    width: fit-content;
    margin: 62px auto 0 auto;

    &__link {
        @extend %flexbox;
        justify-content: center;
        width: 44px;
        height: 44px;
        color: rgba(52, 53, 62, 0.5);
        border: 1px solid rgba(52, 53, 62, 0.5);
        border-radius: 50%;
        transition: background-color .3s, color .3s;

        & path {
            transition: stroke .3s;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.current,
        &:hover {
            background-color: $blue;
            color: #ffffff;

            & path {
                stroke: #fff;
            }
        }
    }
}

.support {
    background-color: $gray-darken;

    &__container {
        @extend %flexbox;
        justify-content: space-between;
        padding: 38px 0;
        color: #fff;
    }

    &__content {
        max-width: 740px;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.15;
    }

    &__text {
        margin-top: 16px;
        font-family: $exo;
        font-size: 24px;
        line-height: 1.3;
    }

    &__phone {
        font-weight: 500;
        color: #fff;
    }

    &__mail {
        font-weight: 500;
        color: $accent;
        text-decoration: underline;
    }
}

.draft {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 35px 30px;
    box-shadow: -1px 9px 20px rgba($gray-darken, .25);
    border-radius: 8px;
    background: #FFFFFF;
    transition: padding-bottom .3s;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:hover {
        padding-bottom: 76px;

        &>.draft__download {
            @extend %button-small;
            align-self: center;
            font-size: 14px;
            visibility: visible;
            opacity: 1;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 1.15;
        font-weight: 600;
        color: $blue;
    }

    &__list {
        padding: 0;
        margin-top: 20px;
        font-family: $exo;
        font-size: 18px;
        list-style: none;
        line-height: 1.15;
    }

    &__item {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__name {
        font-weight: 500;
    }

    &__value {
        font-weight: 300;
    }

    &__download {
        position: relative;
        bottom: -30px;
        font-size: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity .3s;
    }
}

@include medium {
    .category {
        &__header {
            height: max-content;
            min-height: 250px;
            padding: 30px;

            &::after {
                content: none;
            }
        }

        &__icon {
            height: 144px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 18px;
        }

        &__nav {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        &__section {
            &:not(:last-child) {
                margin-bottom: 100px;
            }

            &Title,
            &Text {
                width: 100%;
                text-align: center;
            }

            &Title {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            &Text {
                font-size: 18px;
            }
        }
    }

    .subcategory {
        &__section {
            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }

        &__header {
            display: block;

            &>.schemeItem {
                margin-top: 20px;
            }
        }
    }

    .videos {
        &__column {
            width: calc(50% - 12px);

            &:first-child {
                margin-right: 24px;
            }
        }
    }

    .schemes {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .events {
        &__slider {
            &Box {
                padding-bottom: 32px;
            }

            &Item {
                height: 333px;
                padding: 25px 18px;
            }

            &Dots {
                display: block;
            }
        }

        &__link {
            margin-top: 20px;
        }
    }

    .community {
        &__slider {
            &Box {
                padding-bottom: 32px;

                .owl-item img {
                    height: fit-content;
                    width: 48%;
                }
            }

            &Item {
                height: 391px;
                padding: 15px;
            }

            &Img {
                object-fit: cover;
            }

            &Content {
                width: 48%;
            }

            &Title {
                margin-bottom: 12px;
            }

            &Text {
                font-size: 16px;
                line-height: 1.375;
                margin-bottom: 20px;
            }

            &Link {
                position: relative;
            }

            &Nav {
                display: none;
            }
        }

        &__link {
            margin-top: 20px;
        }
    }
}

@include small {
    .category {
        &__nav {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }

    .videos {
        flex-direction: column;
        align-items: unset;

        &__box {
            flex-direction: column;
        }

        &__column {
            width: 100%;

            &:first-child {
                margin-right: 0;
            }
        }

        &__link {
            align-self: center;
        }
    }

    .schemes {
        &__box {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .community {
        &__slider {
            &Item {
                flex-direction: column;
                height: auto;
                padding: 0;
                box-shadow: none;

                &:not(:last-child) {
                    margin-bottom: 60px;
                }
            }

            &Content,
            &Img {
                width: 100%;
            }

            &Img {
                margin-bottom: 20px;
            }

            &Dots {
                display: none;
            }
        }
    }

    .support {
        position: relative;

        &__container {
            flex-wrap: wrap;
        }

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 16px;
        }

        &__image {
            display: none;
        }
    }

    .schedule {
        flex-wrap: wrap;
        padding-bottom: 40px;

        &__content {
            margin-top: 20px;
        }

        &__text {
            margin-top: 8px;
            font-size: 20px;
        }

        &__button {
            padding: 12px 30px;
            margin: 30px auto 0 auto;
        }
    }

    .article {
        flex-wrap: wrap;
        padding: 0;
        box-shadow: none;

        &~.pagination {
            display: none;
        }

        &~.more {
            display: flex;
        }

        &:hover {
            box-shadow: none;
        }

        &:not(:first-child) {
            margin-top: 50px;
        }

        &__content {
            margin-top: 20px;
        }

        &__date {
            font-size: 14px;
        }

        &__title {
            margin-top: 12px;
            font-size: 20px;
        }

        &__text {
            margin-top: 8px;
        }

        &__image {
            order: -1;
            height: 205px;
        }

        &__digest {
            right: 14px;
            bottom: 19px;
            font-size: 24px;
        }
    }

    .draft {
        margin-right: 0;
        margin-bottom: 30px;
        padding: 30px;

        &__title {
            font-size: 20px;
        }

        &__list {
            font-size: 16px;
        }
    }
}

@include x-small {
    .category {
        &__nav {
            grid-template-columns: 1fr;
        }
    }

    .subcategory {
        &--solutions {
            .category {
                &__nav {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;

                    &Item {
                        height: 131px;
                        padding: 20px 13px;
                    }

                    &Icon {
                        height: 40px;
                    }

                    &Title {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .schemes {
        &__box {
            grid-template-columns: 1fr;
        }
    }
}

@include xx-small {
    .category {
        &__header {
            padding: 15px;
        }
    }
}
