@import "main";

.wrapper {
  &--detail {
    max-width: 850px;
  }
}

.detail {
  &__header {
    margin-bottom: 3.75rem;
    padding: 3.125rem 7.625rem 3.125rem 7.625rem;
    background-color: $bgc;

    & * {
      font-family: $exo;
    }
  }

  &__tags {
    & .detail__date {
      display: inline-block;
      margin-right: 30px;
      margin-top: 0;
    }
  }

  &__tag {
    margin-right: 1.125rem;
    font-family: $exo;
    font-weight: 300;
    color: $accent;
  }

  &__title {
    margin-top: 1.875rem;
    line-height: 1.2;

    // &--docs {
    //   font-size: 2.25rem;
    // }
  }

  &__subhead {
    display: inline-block;
    max-width: 80%;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
  }

  &__date {
    display: block;
    margin-top: 1.625rem;
    font-size: 1rem;
    font-family: $exo;
    font-weight: 500;
  }

  &__button {
    @extend %button-small;
    display: block;
    width: fit-content;
    margin-top: 1.875rem;
  }

  &__author {
    margin-top: 2.5rem;
  }

  &__name {
    display: block;
    font-weight: 400;
  }

  &__position {
    font-weight: 300;
  }

  &__body {
    padding-bottom: 35px;
    & * {
      font-family: $exo;
    }

    & a {
      text-decoration: underline;
      color: $accent;
      transition: color 0.3s;
      & span {
        color: $gen;
        text-align: center;
      }

      &:hover {
        color: darken($color: $accent, $amount: 15%);
      }
    }

    & p {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-family: $exo;
      font-weight: 300;
      line-height: 1.4;

      & strong {
        font-weight: 400;
      }
    }

    & ol {
      max-width: 800px;
      margin: 1.125rem auto 2.5rem auto;
      & li {
        & a {
          display: inline;
        }
        &:not(:first-child) {
          margin-top: 0.75rem;
        }
      }
    }

    & iframe {
      display: block;
      width: 37.5rem;
      height: 21.0625rem;
      margin: 2.375rem auto 3.75rem auto;
    }

    & .detail__button {
      color: #fff;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        color: #fff;
      }
    }

    & ul {
      max-width: 47rem;
      margin: 1.25rem auto 2.5rem auto;
      font-size: 1.125rem;

      & li {
        font-weight: 300;
        & a {
          display: inline;
        }
        &:not(:first-child) {
          margin-top: 0.75rem;
        }
      }
    }

    & h3 {
      margin: 3.75rem 0 1.875rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.75rem;
      text-transform: uppercase;
    }

    & blockquote {
      margin: 2.5rem 0;
      padding: 1.875rem 1.875rem 2.1875rem 1.875rem;
      border-left: 4px solid $gray;
      background-color: $bgc;

      & h3,
      & h4,
      & h5 {
        @extend h5;
        margin: 0;
        text-transform: unset;
      }

      & p {
        margin-top: 0.875rem;
        font-family: $exo;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    // &--article {
    //     & ul {
    //         width: 46rem;
    //         margin: 1.25rem auto 2.5rem auto;
    //         & li:not(:first-child) {
    //             margin-top: 0.75rem;
    //         }
    //     }

    // }
  }

  &__list {
    width: 820px;
    margin: 1.25rem 0 2.5rem 30px;
    font-family: $exo;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4;
    list-style: disc;

    &--unstyled {
      list-style: none;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    & strong {
      font-weight: 500;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 600px;
    margin: 2.5rem auto;
    &[data-fancybox] {
      text-decoration: none;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $accent;
      background-image: url("../img/details/zoom.svg");
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: -1px 5px 10px rgba(107, 119, 133, 0.25);
      border-radius: 8px;
      transition: box-shadow 0.3s;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s;
    }

    & span {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    & img {
      width: 100%;
      object-fit: contain;
      order: -1;
      margin-bottom: 1.75rem;
    }
  }

  &__description {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  &__subtitle {
    display: block;

    font-size: 1.5rem;
    font-weight: 600;

    text-transform: uppercase;
  }

  &__nav {
    @extend %flexbox;
    justify-content: space-between;
    // margin-top: 3.125rem;
    padding-top: 1.875rem;
    border-top: 1px solid rgba(52, 53, 62, 0.5);
  }

  &__back,
  &__next {
    position: relative;
    color: $accent;
    max-width: 20.25rem;
    font-weight: 700;
    margin-top: 1.875rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.3s;
    }
  }

  &__back {
    padding-left: 18px;

    &:hover::before {
      transform: translateY(-50%) translateX(-8px);
    }

    &::before {
      left: 0;
      background-image: url("../img/details/back.svg");
    }
  }

  &__next {
    padding-right: 18px;
    text-align: right;

    &:hover::after {
      transform: translateY(-50%) translateX(8px);
    }

    &::after {
      right: 0;
      background-image: url("../img/details/next.svg");
    }
  }
}

.materials {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid rgba(52, 53, 62, 0.5);

  & * {
    font-family: $exo;
  }

  &__title {
    font-size: 2.25rem;
  }

  & a {
    color: $accent;
    text-decoration: underline;
  }

  &__link {
    position: relative;
    display: block;
    margin-top: 1.875rem;
    padding-left: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.2;

    &:not(:first-of-type) {
      margin-top: 1.375rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 17px;
      background-image: url("../img/details/download.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__info {
    display: block;
    margin-top: 2.5rem;
  }
}

.appears {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // width: 100vw;
  height: 80px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background-color: $accent;
  transition: opacity 0.3s, visibility 0.3s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__container {
    @extend %flexbox;
    justify-content: space-between;
    width: 850px;
    height: 100%;
    margin: 0 auto;
  }

  &__text {
    font-family: $exo;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }

  &__button {
    @extend %button-small;
    padding: 12px 30px;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: $accent;
    }
  }
}

.comments {
  margin-top: 80px;
  & * {
    font-family: $exo;
  }
  &__count {
    font-size: 24px;
    font-weight: 400;
  }
  &__check {
    margin-top: 20px;
    padding-top: 24px;
    border-top: 1px solid rgba(52, 53, 62, 0.5);
    & a {
      color: $accent;
      text-decoration: underline;
      font-weight: 700;
    }
  }
  &__container {
    width: 790px;
    margin: 40px auto 0 auto;
  }
  &__write {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 60px;
  }
  &__area {
    width: 100%;
    min-height: 150px;
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid rgba(52, 53, 62, 0.5);
    border-radius: 5px;
    resize: none;
  }
  &__send {
    @extend %button-transparent;
    margin-top: 30px;
    font-family: $raleway;
  }
}

.comment {
  &__body {
    display: flex;
    align-items: flex-start;
  }
  margin-top: 40px;
  & .comment {
    margin-left: 60px;
    margin-top: 30px;
  }
  &__pic {
    @extend %flexbox;
    flex-shrink: 0;
    align-self: flex-start;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: 16px;
    font-family: $raleway;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
    &--admin {
      background-color: $blue;
    }
  }
  &__name {
    font-family: $raleway;
    font-weight: 600;
  }
  &__whom {
    position: relative;
    display: block;
    font-family: $raleway;
    font-size: 12px;
    font-weight: 600;
    color: rgba(52, 53, 62, 0.5);
    &:not(:empty) {
      margin-top: 8px;
      &::before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 8px;
        margin-right: 4px;
        background-image: url("../img/icons/reply.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__text {
    margin-top: 6px;
  }
  &__reply {
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.5;
    text-decoration: underline;
  }
}

.bg-points:nth-child(odd) {
  top: 25rem;
}

.fancybox-slide--image .fancybox-content {
  background-color: #fff;
}

.fancybox-button {
  background-color: transparent;

  & svg path {
    fill: #fff;
  }
}

.fancybox-toolbar {
  right: 20px;
  top: 20px;
  box-shadow: -1px 5px 10px rgba(116, 116, 188, 0.25);
  border-radius: 20px;
  background-color: $accent;
}

@media (max-width: 1024px) {
  .detail {
    &__header {
      margin-bottom: 40px;
      padding: 40px 30px;
    }
    &__subhead {
      font-size: 18px;
      max-width: 100%;
    }
    &__body {
      p {
        font-size: 16px;
        margin-top: 20px;
      }
      blockquote {
        padding: 30px 20px 30px 30px;
        h5,
        h4,
        h3 {
          font-size: 20px;
        }
      }
      ul {
        margin-left: 20px;
        font-size: 16px;
      }
      h3 {
        font-size: 18px;
      }
      ol {
        margin-left: 16px;
      }
      iframe {
          width: 100%;
          height: 400px;
      }
    }
    &__image {
      width: 100%;
      &::after {
        opacity: 1;
      }
    }
  }
  .materials {
      &__title {
          font-size: 20px;
      }
      &__link {
          font-size: 18px;
      }
  }
}
@media (max-width: 768px) {
  .detail {
    &__header {
      transform: translateX(-30px);
      width: calc(100% + 60px);
    }
    &__next,
    &__back {
      margin-top: 12px;
      max-width: 49%;
      font-size: 14px;
    }
    &__body {
        iframe {
            height: 180px;
            margin-bottom: 30px;
        }
    }
  }
  .comments {
    margin-top: 40px;
    &__container {
      width: auto;
    }
    &__send {
      width: 100%;
    }
  }
  .comment {
    &__pic {
      display: none;
    }
    .comment {
      margin-left: 30px;
    }
  }
  .appears {
    &__container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &__text {
      display: none;
    }
  }
}
