@import "main";

.welcome {
    box-sizing: border-box;
    padding-top: 4.0625rem;
    padding-bottom: 6.25rem;

    &__box {
        @extend %flexbox;
        justify-content: space-between;
    }

    &__column {
        z-index: 1;
        width: 47%;
        margin-right: 6%;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__text {
        width: 80%;
        @extend %exo-text;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 3.75rem;
    }

    &__btn {
        @extend %button;
    }

    &__img {
        width: 47%;
        object-fit: contain;
    }
}

.companies {
    box-sizing: border-box;
    padding: 2.875rem 0;
    background-color: $bgc;

    &__slider {
        position: relative;

        &Item {
            @extend %flexbox;
            justify-content: center;

            &>svg {
                height: 3.125rem;
                width: fit-content;

                &>path {
                    transition: fill .2s linear;
                }
            }

            &:hover>svg>path {
                fill: $gen;
            }
        }

        &Nav {
            display: none;
            position: absolute;
            top: calc(50% - 14.25px);
            left: 0;
            transform: translateY(-50%);
            width: 100%;

            &>.owl {

                &-prev,
                &-next {
                    height: fit-content;
                    width: fit-content;
                    background-color: transparent;

                    &:hover {
                        background-color: transparent;
                    }

                    &>svg {
                        height: 28.5px;
                        width: 12px;

                        &>path {
                            stroke: $gray-darken;
                            transition: stroke .3s;
                        }
                    }
                }

                &-prev {
                    left: -20px;
                }

                &-next {
                    right: -20px;
                }
            }
        }
    }
}

.promo {
    box-sizing: border-box;
    padding-top: 9.375rem;

    &__container {
        @extend %flexbox;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        margin-bottom: 3.625rem;
    }

    &__slider {
        position: relative;
        width: calc(100% + 2.5rem);

        &Box {
            box-sizing: border-box;
            padding: .5rem 1.25rem 9.375rem;
            overflow: hidden;

            &>.owl-stage-outer {
                overflow: visible;
            }
        }

        &Item {
            height: 26.1875rem;
            width: 100%;
            @extend %flexbox;
            flex-direction: column;
            box-sizing: border-box;
            padding: 3.125rem 1.875rem;
            border-radius: 8px;
            box-shadow: -1px 9px 20px rgba($gray-darken, .25);

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background: url(../img/index/slider-item-bg.svg) top right no-repeat;
                background-size: 60%;
            }

            &:hover {
                position: absolute;
                height: auto;

                &>.promo__sliderLink {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &Img {
            height: 8.9375rem;
            width: 100%;
        }

        &Title,
        &Text {
            text-align: center;
        }

        &Title {
            font-weight: 600;
            margin-bottom: 1.25rem;
        }

        &Text {
            @extend %exo-text;
            font-size: 1.125rem;
            margin-bottom: 1.875rem;
        }

        &Link {
            z-index: 1;
            @extend %button-small;
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s linear;
        }

        &Nav {
            position: absolute;
            top: calc(50% - 6.4375rem);
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }

        &Dots {
            display: none;
            z-index: 1;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            box-sizing: border-box;
            padding: .125rem;
            @extend %flexbox;

            &>.owl-dot {
                height: 12px;
                width: 12px;

                &>span {
                    height: 9px;
                    width: 9px;
                    background-color: $gray-darken;
                }

                &.active {
                    &>span {
                        height: 100%;
                        width: 100%;
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.project {
    z-index: -1;
    box-sizing: border-box;
    padding-top: 4.5rem;
    padding-bottom: 3.5625rem;
    background-color: $bgc;

    &__box {
        @extend %flexbox;
    }

    &__column {
        width: 44%;
    }

    &__title {
        margin-bottom: 2.4375rem;
    }

    &__text {
        @extend %exo-text;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 3.1875rem;
    }

    &__btn {
        @extend %button;
    }

    &__img {
        width: 48%;
        margin-right: 4%;
    }
}

.articles {
    box-sizing: border-box;
    padding: 9.375rem 0;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 1.875rem;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5%;
        margin-bottom: 3.125rem;
    }

    &__item {
        width: 100%;

        &Link {
            &:hover>.articles__itemTitle {
                color: $accent;
            }
        }

        &Img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-bottom: 1.5625rem;
        }

        &Date {
            display: block;
            color: $blue;
            font-family: $exo;
            font-weight: 500;
            margin-bottom: .5rem;
        }

        &Title {
            margin-bottom: .875rem;
            transition: color .2s linear;
        }

        &Text {
            @extend %exo-text;
        }
    }

    &__more {
        @extend %button-small;
        align-self: center;
    }
}

@include medium {
    .welcome {
        padding: 30px 0;

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 30px;
        }

        &__btn {
            margin-bottom: 30px;
        }

        &__img {
            height: 327px;
        }
    }

    .companies {
        padding: 22px 0;
    }

    .promo {
        padding: 60px 0;

        &__title {
            margin-bottom: 18px;
        }

        &__slider {
            &Box {
                padding-bottom: 32px;
            }

            &Item {
                height: 420px;
                padding: 25px 20px 50px;

                &:hover {
                    height: 420px;
                }
            }

            &Img {
                height: 113px;
                margin-bottom: 25px;
            }

            &Title {
                margin-bottom: 20px;
            }

            &Text {
                font-size: 16px;
            }

            &Link {
                position: absolute;
                left: 50%;
                bottom: 50px;
                transform: translateX(-50%);
                visibility: visible;
                opacity: 1;
            }

            &Nav {
                display: none;
            }

            &Dots {
                display: block;
            }
        }
    }

    .project {
        padding: 60px 0;

        &__title {
            margin-bottom: 16px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }

    .articles {
        padding: 60px 0;

        &__item {
            &Img {
                margin-bottom: 20px;
            }

            &Date {
                font-size: 14px;
            }

            &Title {
                margin-bottom: 8px;
            }
        }
    }
}

@include small {
    .welcome {
        &__box {
            flex-direction: column;
            align-items: flex-start;
        }

        &__column,
        &__img {
            width: 100%;
        }

        &__img {
            height: 218px;
        }
    }

    .companies {
        &__slider {
            &Item {
                &>svg {
                    height: 36px;
                }
            }

            &Nav {
                display: block;
            }
        }
    }

    .project {
        &__box {
            justify-content: center;
        }

        &__column {
            width: 100%;
            text-align: center;
        }

        &__title,
        &__text {
            text-align: inherit;
        }

        &__img {
            display: none;
        }
    }

    .articles {
        &__box {
            grid-template-columns: 1fr;
            gap: 50px;
        }

        &__item {
            &Img {
                height: 333px;
            }
        }
    }
}

@include x-small {
    .companies {
        &__slider {
            &Nav {
                top: calc(50% - 9.5px);

                &>.owl-prev,
                &>.owl-next {
                    &>svg {
                        height: 19px;
                        width: 8px;
                    }
                }
            }
        }
    }

    .promo {
        &__slider {
            &Dots {
                &>.owl-dot {
                    height: 8px;
                    width: 8px;

                    &>span {
                        height: 6px;
                        width: 6px;
                    }
                }
            }
        }
    }

    .articles {
        &__item {
            &Img {
                height: 187px;
            }
        }
    }
}
