@import 'root';
// @import 'media';
@import 'keyframes';
@import 'mixins';

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $raleway;
    cursor: default;
    background-color: #fff;
    color: $gen;
    @extend %scrollbar;
}

section {
    position: relative;
}

p {
    color: $text;
}

ul {
    list-style: disc;
}

li {
    list-style-position: outside;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 2.625rem;
    font-weight: 700;
}

h3 {
    font-size: 2.25rem;
    font-weight: 700;
}

h4 {
    font-size: 2.25rem;
    font-weight: 700;
}

h5 {
    font-family: $exo;
    font-size: 1.5rem;
    font-weight: 700;
}

h6 {
    font-family: $exo;
    font-size: 1.125rem;
    font-weight: 600;
}

.wrapper {
    width: calc(100% - 250px);
    margin: 0 auto;
    max-width: 1200px;

    &--wide {
        max-width: 1670px;
    }

    &--middle {
        max-width: 1400px;
    }

    &--detail {
        max-width: 850px;
    }

    &--menu {
        max-width: 576px;
        margin: unset;
    }
}

a {
    color: $gen;
    display: inline-block;
    text-decoration: none;
}

svg {
    min-height: 1rem;
}

textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $raleway;
    border: none;
    background: none;
    outline: none;

    &[disabled] {
        cursor: default;
        opacity: .7;
    }
}

button {
    cursor: pointer;
}

//убирает цвет автокомплита у инпута
input {

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.preloader {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    transition: all .3s;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 2rem);
        left: calc(50% - 2rem);
        height: 4rem;
        width: 4rem;
    }
}

//шаблон для модального окна
//.modal Обязательный класс для всех модальных окон, для попапов используем класс .popup который экстендит(@extend) класс modal или описываем свой.
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @extend %flexbox;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    //вложенное окно с контентом, необходимо задать фиксированные размерыж
    &__box {
        position: relative;
        overflow: auto;
        max-height: 100%;
        max-width: 100%;
        padding: 4.625rem 3.125rem 3.125rem 3.125rem;
        border-radius: 8px;
        box-shadow: -1px 9px 20px rgba(116, 116, 188, 0.25);
        background-color: #FFFFFF;
        text-align: center;
    }

    //кнопка закрытия
    &__close {
        @extend %close-btn;
        top: 1.5rem;
        right: 2rem;
    }

    &__title {
        display: block;
        max-width: 25rem;
        font-family: $exo;
        font-size: 1.125rem;
        line-height: 1.4;
    }

    &__button {
        @extend %button-small;
        display: block;
        width: fit-content;
        margin: 1.875rem auto 0 auto;
    }

    &__already {
        display: block;
        margin-top: 1.25rem;
    }

    &__login {
        color: $accent;
        font-weight: 500;
        text-decoration: underline;
    }
}

.header {
    &__container {
        z-index: 2;
        position: relative;
        box-sizing: border-box;
        height: 6.875rem;
        padding-top: .6875rem;
    }

    &__controls {
        @extend %flexbox;
        justify-content: flex-end;
        margin-bottom: 1.0625rem;
    }

    &__search {
        @extend %search;
        height: 1.875rem;

        &-btn {
            @extend %search-btn;
            right: 0;
        }

        &-input {
            @extend %search-input;
            width: 0;
            visibility: hidden;
            opacity: 0;
            transition: width .2s linear, visibility .2s linear, opacity .2s linear, padding .2s linear;
        }

        &-closeBtn {
            opacity: 0;
            transition: opacity .2s linear;
        }

        &.active {
            &>.header__search-btn {
                left: .8125rem;
            }

            &>input {
                width: 28.125rem;
                visibility: visible;
                opacity: 1;
                box-sizing: border-box;
                padding: 0 2.625rem;
                border: 1px solid $gray-darken;
                border-radius: 15px;
            }

            &>.header__search-closeBtn {
                @extend %close-btn;
                top: 50%;
                right: .76375rem;
                transform: translateY(-50%);
                opacity: 1;
            }
        }
    }

    &__row {
        position: relative;
        @extend %flexbox;
        justify-content: space-between;
    }

    &__menu {
        margin-right: 3.1875rem;
    }

    &__menu-item {
        color: $gray-darken;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: color .2s linear;

        &:not(:last-child):after {
            content: '';
            display: inline-block;
            position: relative;
            top: -2px;
            width: 4px;
            height: 4px;
            margin: 0 .6875rem;
            border-radius: 50%;
            background-color: $gray-darken;
        }

        &:hover {
            color: $accent;
        }
    }

    &__profile {
        @extend %flexbox;

        &--logged {
            position: relative;
            cursor: default;

            &:hover {
                & .header__profile-pic {
                    background-color: $accent-lighten;
                }

                & .header__profile-name {
                    color: $accent-lighten;
                }

                & .account {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-pic {
            @extend %flexbox;
            justify-content: center;
            width: 46px;
            height: 46px;
            margin-right: 1rem;
            background-color: $accent;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 700;
            border-radius: 50%;
            transition: background-color .3s;
        }

        &-name {
            color: $accent;
            font-size: 0.875rem;
            font-weight: 600;
            transition: color .3s;
        }
    }

    &__profile-auth {
        color: $accent;
        font-weight: 700;
        margin-right: 1.875rem;
        transition: color .2s linear;

        &:hover {
            color: $accent-lighten;
        }
    }

    &__profile-signup {
        @extend %button-small;
    }

    &__burger {
        @extend %burger;
        display: none;
    }
}

.logo {
    @extend %flexbox;
    height: 2.6875rem;
    width: 14.375rem;
    border-color: $gray-darken;
    color: $gray-darken;
    font-family: $exo;

    &--white {
        border-color: #ffffff;
        color: #ffffff;
    }

    &__img {
        box-sizing: border-box;
        padding-right: 1.375rem;
        border-right: 1px solid;
        border-color: inherit;
        margin-right: 1.375rem;
    }
}

.nav {
    &__item {
        display: inline-block;
        position: relative;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-right: 3.125rem;
        }

        &:hover {
            color: $accent;
        }

        &--subnav {
            z-index: 2;
            padding-right: 1rem;
            @extend %arrow;

            &::before {
                right: calc(.5rem - 3.8px);
            }

            &::after {
                right: .5rem;
            }

            &:hover {
                &>.subnav {
                    visibility: visible;
                    opacity: 1;
                }

                &::before,
                &::after {
                    background-color: $accent;
                }

                &::before {
                    transform: rotate(135deg);
                }

                &::after {
                    transform: rotate(-135deg);
                }
            }
        }
    }

    &__link {
        color: inherit;
        @extend %menu-link;
        transition: color .2s linear;
    }
}

.subnav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    box-sizing: border-box;
    padding-top: 1.875rem;
    transition: opacity .2s linear;

    &__box {
        position: relative;
        box-sizing: border-box;
        padding: 3.125rem 1.875rem;
        background-color: #ffffff;
        box-shadow: -1px 9px 20px rgba(116, 116, 188, .25);

        &::after {
            content: '';
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translateX(-50%);
            transform: rotate(45deg);
            height: 16px;
            width: 16px;
            background-color: inherit;
        }

        &--grid {
            display: grid;
            grid-template-columns: repeat(3, 17rem);
            gap: 3.0625rem;

            &::after {
                left: 21%;
            }
        }
    }

    &__link,
    &__item {
        position: relative;
        @extend %flexbox;
        width: 100%;
        color: $text;
        @extend %menu-link;
        transition: color .2s linear;

        &:hover {
            color: $accent;
        }

        &>svg {
            color: inherit;
            margin-right: 1.25rem;
            transition: color .2s linear;
        }

        &>span {
            width: 70%;
        }
    }

    &__link {
        &:not(:last-child) {
            margin-bottom: 1.875rem;
        }
    }

    &--grid {
        left: -60%;
        transform: none;
    }
}

.menu {
    @extend %hidden;
    height: calc(100vh - 60px);
    width: 100vw;
    box-sizing: border-box;
    padding: 30px 0;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity .3s;

    &__search {
        @extend %search;
        height: 40px;
        margin-bottom: 50px;

        &-btn {
            @extend %search-btn;
            left: 18px;
        }

        &-input {
            @extend %search-input;
            width: 100%;
            box-sizing: border-box;
            padding-left: 47px;
            padding-right: 18px;
            border: 1px solid $gray-darken;
            border-radius: 20px;
        }
    }

    &__box {
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &Box {
            position: relative;
            @extend %flexbox;
            justify-content: space-between;
        }
    }

    &__link {
        @extend %menu-link;
        margin-right: 20px;

        &--bold {
            font-weight: 700;
        }
    }

    &__btn {
        position: relative;
        right: 6px;
        height: 8px;
        width: 8px;
        @extend %arrow;

        &::before,
        &::after {
            transition: transform .2s linear;
        }

        &::before {
            right: 0;
        }

        &::after {
            right: -3.8px;
        }

        &.active {
            &::before {
                transform: rotate(135deg);
            }

            &::after {
                transform: rotate(-135deg);
            }
        }
    }

    &__profile {
        box-sizing: border-box;
        padding-top: 40px;
        border-top: 1px solid rgba($gen, .5);
    }
}

.submenu {
    display: none;
    box-sizing: border-box;
    padding: 20px 0 0 20px;

    &__link {
        width: 60%;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.main {
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    padding-top: 4.5rem;
    padding-bottom: 9.375rem;
    overflow: hidden;

    &--p0 {
        padding: 0;
    }
}

.postItem {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 18.75rem;
    width: 100%;
    box-sizing: border-box;
    padding: 3.125rem;
    box-shadow: -1px 9px 20px rgba($gray-darken, .25);

    &:not(:last-child) {
        margin-bottom: 3.125rem;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &:hover~.postItem__description>.postItem__title {
            color: $text;
        }
    }

    &__img {
        height: 100%;
        width: 21.25rem;
        object-fit: cover;
        margin-right: 5rem;
    }

    &__status {
        position: relative;
        @extend %button-status;
        margin-bottom: 1.875rem;
    }

    &__title,
    &__text {
        color: $gray-darken;
    }

    &__title {
        margin-bottom: 1.25rem;
        transition: color .2s linear;
    }

    &__text {
        @extend %exo-text;
    }
}

.videoItem {
    position: relative;
    display: block;
    height: 33.5625rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1.875rem;
    border-radius: 8px;
    box-shadow: -1px 9px 20px rgba($gray-darken, .25);

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__img {
        height: 18.4375rem;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1.875rem;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &-item {
            margin-bottom: .75rem;
            color: $accent;
            font-family: $exo;
            font-weight: 500;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &__title {
        margin-bottom: 1.25rem;
    }

    &__content {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    &__text {
        color: #000000;
        @extend %exo-text;
        line-height: 1.3;
        margin-bottom: 1.875rem;

        p:not(:last-child),
        li:not(:last-child) {
            margin-bottom: .7rem;
        }

        li {
            list-style-position: inside;
        }
    }

    &__btn {
        @extend %button-small;
        align-self: center;
        margin-bottom: 1.875rem;
    }

    &__date {
        color: lighten($gen, .5);
        font-family: $exo;
        font-weight: 500;
    }
}

.schemeItem {
    position: relative;
    height: fit-content;
    box-sizing: border-box;
    padding-left: 2rem;
    color: $accent;
    font-family: $exo;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.44;
    text-decoration: underline;
    transition: color .2s linear;

    &:hover {
        color: $accent-lighten;
        text-decoration: none;

        &>svg>* {
            stroke: $accent-lighten;
        }
    }

    &>svg {
        position: absolute;
        top: 5px;
        left: 0;
        height: 1rem;
        width: 1.25rem;

        &>* {
            transition: stroke .2s linear;
        }
    }
}

.more {
    @extend %flexbox;
    flex-direction: column;
    margin-top: 3.75rem;

    &__btn {
        @extend %button-more;
        margin-bottom: 1.875rem;
    }

    &__text {
        color: #000000;
        @extend %exo-text;
        font-size: .875rem;
    }
}

.owl {

    &-prev,
    &-next {
        @extend %owl-btn;
        position: absolute;
    }

    &-prev {
        left: -4rem;
    }

    &-next {
        right: -4rem;
    }

    &-dot {
        @extend %owl-dot;
    }
}

.bg-points {
    z-index: -1;
    position: absolute;

    &:nth-child(odd) {
        top: 45%;
        left: 0;
    }

    &:nth-child(even) {
        top: 68%;
        right: 0;
    }
}

.banner {
    position: relative;
    background-color: $gray-darken;

    &__box {
        z-index: 1;
        position: relative;
        display: flex;
        box-sizing: border-box;
        padding: 5rem 0;
    }

    &__description {
        width: 52%;
        margin-right: 8%;
    }

    &__title {
        color: #ffffff;
    }

    &__icon {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
    }
}

.subscribe {
    z-index: 1;
    display: flex;
    height: 3.125rem;
    width: 40%;
    max-width: 29.8125rem;
    border-radius: 5px;
    font-weight: 500;

    &__input {
        height: 100%;
        width: 70%;
        box-sizing: border-box;
        padding: 0 1.5625rem;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        background-color: #ffffff;
        font-weight: inherit;

        &::placeholder {
            opacity: .5;
        }
    }

    &__btn {
        height: 100%;
        width: 30%;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        background-color: $accent;
        color: #ffffff;
        font-weight: inherit;
        transition: background-color .2s linear;

        &:hover {
            background-color: $accent-lighten;
        }
    }
}

.footer {
    box-sizing: border-box;
    padding: 4.4375rem 0;
    background-color: $gen;

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.8125rem;
    }

    &__column {
        flex-grow: 1;
        margin-right: 7.875rem;
    }

    &__contacts {
        @extend %flexbox;
        flex-direction: column;
        width: max-content;
        margin-top: 4.4375rem;
    }

    &__phone {
        color: #ffffff;
        font-family: $exo;
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &__social {
        @extend %flexbox;
        justify-content: space-between;

        &Item {
            &:not(:last-child) {
                margin-right: .75rem;
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &:not(:last-child) {
            margin-right: 1.625rem;
        }
    }

    &__link {
        margin-bottom: .9375rem;
        color: #ffffff;
        font-family: $roboto;
        font-weight: 300;
        transition: color .2s linear;

        &:hover {
            color: $accent;
        }

        &--title {
            font-weight: 500;
            margin-bottom: 1.0625rem;

            &:hover {
                color: #ffffff;
            }
        }
    }

    &__company,
    &__policy {
        color: #ffffff;
        font-size: .875rem;
    }

    &__company {
        margin-right: 7.3125rem;
    }

    &__policy {
        text-decoration: underline;
    }
}

.account {
    position: absolute;
    top: 130%;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    min-width: 264px;
    padding: 50px 30px;
    border-radius: 4px;
    box-shadow: -1px 9px 20px rgba(116, 116, 188, 0.25);
    background-color: #fff;
    transition: opacity .3s, visibility .3s;
    z-index: 3;

    &::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 54px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }

    &__link {
        display: block;
        transition: color .3s;

        &:not(:first-child) {
            margin-top: 30px;
        }

        &:hover {
            color: $accent;
        }
    }
}

.content {
    &__header {
        box-sizing: border-box;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($gen, .5);
    }

    &__subtitle {
        max-width: 53.125rem;
        margin-top: 1.75rem;
        font-family: $exo;
        font-size: 1.5rem;
    }

    &__field {
        @extend %flexbox;
        position: relative;

        &--search {
            &::before {
                content: '';
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                background-image: url('../img/icons/search.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &--filter {
            margin-top: 12px;
            font-size: 18px;
            font-family: $exo;
        }
    }

    &__mobile {
        display: none;

        &Close {
            @extend .modal__close;
        }

        &Submit {
            @extend %button;
        }
    }

    &__filters {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5625rem;

        // form~& {
        //     margin-top: .625rem;
        // }

        &>[class*='field'] {
            display: flex;
        }

        &>* {
            margin-top: 30px;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    &__filter {
        @extend %button--filter;
    }

    &__search {
        margin-top: 4.0625rem;

        &Input {
            margin-right: 1.875rem;
            width: 276px;
            padding: 6px 14px 6px 44px;
            border-radius: 15px;
            background-color: $bgc;
            font-weight: 400;
            font-size: 1rem;
        }

        &Clear {
            font-size: 1rem;
            text-decoration: underline;
            transition: color .2s linear;

            &:hover {
                color: $accent;
                text-decoration: none;
            }
        }

        &Filters {
            display: none;
        }
    }

    &__tags {
        @extend %flexbox;
        flex-wrap: wrap;
        margin-top: 65px;
        font-family: $exo;
    }

    &__tag {
        @extend %flexbox;
        justify-content: center;
        position: relative;
        padding: 0 16px;
        height: 30px;
        background: $bgc;
        border-radius: 15px;
        margin-right: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: $exo;
        font-weight: 300;

        &.custom {

            text-align: left;
            padding-right: 48px;

            &::after {
                content: '';
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                background-image: url('../img/icons/close.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

    }

    &__clear {
        order: 1;
        margin-bottom: 10px;
        text-decoration: underline;
        font-size: 16px;

    }

    &__body {
        margin-top: 3.75rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        &--narrow {
            width: 295px;
        }

        &--wide {
            width: 786px;
        }

        &--grid {
            column-count: 2;
            column-gap: 38px;

            & .more {
                column-span: all;
            }
        }
    }

    &__control {
        &Block {
            margin-bottom: 60px;
        }
    }

    &__heading {
        display: block;
        margin-bottom: 24px;
        font-size: 18px;
        font-weight: 700;
    }

    &__radio {
        @extend %radio;

        &+label {
            margin-right: 16px;
        }
    }

    &__checkbox {
        @extend %checkbox;

        &+label {
            border-color: $gen;
            margin-right: 16px;
        }

        &:checked+label {
            border-color: $gray-darken;
            background-color: $gray-darken;
        }
    }

    & .bg-points:nth-child(odd) {
        top: 25%;
    }
}

.not-found {
    &__image {
        display: block;
        width: 960px;
        height: 680px;
        object-fit: contain;
        margin: 0 auto;
    }

    &__text {
        margin-top: 40px;

        & p {
            font-size: 24px;
            text-align: center;
            line-height: 1.3;

            &:not(:first-child) {
                margin-top: 16px;
            }
        }

        & a {
            color: $accent;
            text-decoration: underline;
            font-weight: 500;
        }
    }
}

.search {
    &__count {
        font-family: $exo;
        margin-bottom: 50px;
        font-weight: 500;
        color: $blue;
    }
}

.result {
    font-family: $exo;
    margin-bottom: 40px;

    &__found {
        background-color: $bgc;
    }

    &__category {
        display: inline-block;
        margin-top: 8px;
        opacity: 0.5;
    }

    &__date {
        margin-right: 20px;
        opacity: 0.5;
    }

    &__tag {
        margin-right: 16px;
        font-size: 18px;
        color: $gray-darken;
    }

    &__title {
        margin-top: 16px;
        font-size: 24px;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        margin-top: 15px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    @include x-large {
        .wrapper {
            width: calc(100% - 200px);
        }
    }

    @include large {
        .wrapper {
            width: calc(100% - 150px);
        }

        .header {
            .logo {
                width: fit-content;
                font-size: 0;

                &__img {
                    padding-right: 0;
                    border-right: none;
                }
            }
        }

        .nav {
            &__item {
                &:not(:last-child) {
                    margin-right: 3.125rem;
                }
            }
        }

        .bg-points {
            display: none;
        }

        .footer {
            &__column {
                margin-right: 3.9375rem;
            }
        }
    }

    @include medium {
        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 20px;
        }

        .main {
            padding-top: 20px;
            padding-bottom: 60px;
        }

        .wrapper {
            width: 100%;
            padding: 0 30px;
        }

        .header {
            &__container {
                height: fit-content;
                padding-top: 25px;
                padding-bottom: 4px;
            }

            &__controls {
                display: none;
            }

            &__row {
                height: 31px;
                justify-content: flex-end;
            }

            .logo {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;

                &__img {
                    height: inherit;
                }
            }

            &__profile {
                margin-right: 26px;

                &-auth {
                    color: $gray-darken;
                    font-size: 14px;
                    font-weight: 400;
                    margin-right: 0;
                }

                &-signup {
                    display: none;
                }

                &-pic {
                    display: none;
                }
            }

            &__burger {
                display: block;
            }
        }

        .nav {
            display: none;
        }

        .content {
            &__title {
                font-size: 24px;
            }

            &__subtitle {
                margin-top: 15px;
                font-size: 18px;
            }

            &__search {
                margin-top: 30px;
            }

            &__block {
                &--arrow {
                    margin-right: 30px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .content {
            &__mobile {
                display: flex;
                align-items: center;
                font-family: $exo;

                &--panel {
                    margin-top: 30px;
                }

                &Header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                }

                &Footer {
                    position: fixed;
                    left: 0;
                    bottom: 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 80px;
                    margin-bottom: 0;
                    padding: 22px 30px 18px 60px;
                    background: #FFFFFF;
                    box-shadow: 0px -4px 20px rgba(107, 119, 133, 0.25)
                }

                &Title {
                    font-size: 24px;
                    font-weight: 400;
                }

                &Close {
                    position: relative;
                    top: unset;
                    right: unset;
                    width: 16px;
                    height: 16px;

                    &::after,
                    &::before {
                        background-color: $gen;
                    }
                }

                &Tags {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 30px;
                }

                &Clear {
                    font-size: 16px;
                    text-decoration: underline;
                }

                &Submit {
                    font-size: 16px;
                    padding: 10px 36px;
                }

                &Search {
                    width: 100%;
                    padding: 12px 30px 12px 50px;
                    border: 1px solid rgba(107, 119, 133, 0.5);
                    border-radius: 20px;
                    font-size: 14px;
                    font-family: $exo;
                    transition: border-color .3s;
                    ;

                    &:focus {
                        border-color: $gen;
                    }
                }
            }

            &__tag {
                margin-right: 9px;
                margin-bottom: 20px;
                height: fit-content;
                padding: 5px 16px;
                border-radius: 15px;
                font-family: $exo;
                font-weight: 300;
                font-size: 16px;
                background-color: $bgc;

                &:not(.default) {
                    padding-right: 46px;
                }
            }

            &__block {
                &--control {
                    position: fixed;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    visibility: hidden;
                    overflow: auto;
                    opacity: 0;
                    background-color: #fff;
                    z-index: 99;
                    padding: 26px 35px 110px 30px;
                    transition: opacity .3s, visibility .3s;

                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &--grid {
                    column-count: 1;
                }
            }

            &__header {
                padding-bottom: 40px;
                border-bottom: none;
            }

            &__body {
                margin-top: 0;

                .wrapper--detail {
                    width: 100%;
                }
            }

            &__control {
                margin-top: 30px;
                margin-bottom: 0;

                &Block {
                    margin-bottom: 30px;
                }
            }

            &__heading {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transform-origin: 50% 50%;
                    width: 16px;
                    height: 6px;
                    background-image: url('../img/icons/arrow.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.open {
                    &::after {
                        transform: translateY(-50%) rotate(-180deg);
                    }

                    &~.content__fields {
                        display: block;
                    }
                }
            }

            &__fields {
                display: none;
            }

            &__field {
                &--mobile {
                    position: relative;
                    width: 100%;
                    margin-top: 35px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 18px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        background-image: url('../img/icons/search--green.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

            }

            &__search {
                display: none;

                &--mobile {
                    display: block;
                }

                &--main {
                    display: block;
                    margin-bottom: 20px;
                }

                &Filters {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 148px;
                    height: 31px;
                    padding-left: 15px;
                    border-radius: 15px;
                    font-size: 16px;
                    font-family: $exo;
                    background-color: $bgc;

                    svg {
                        margin-right: 8px;
                    }
                }

                &Count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 12px;
                    height: 12px;
                    margin-left: 14px;
                    border-radius: 50%;
                    font-size: 10px;
                    line-height: 1;

                    &:not(:empty) {
                        background-color: $blue;
                    }

                    color: #fff;
                }

                &Input {
                    width: 100%;
                    margin-right: 0;
                }

                &Input--mobile {
                    position: relative;
                    width: fit-content;
                    min-width: 147px;
                    margin-right: 20px;
                }

                &Clear {
                    display: none;
                }

                &--mobile {
                    position: fixed;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    visibility: hidden;
                    overflow: auto;
                    z-index: 99;
                    margin-top: 0;
                    padding: 26px 35px 110px 30px;
                    background-color: #fff;
                    opacity: 0;
                    transition: opacity .3s, visibility .3s;

                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &__filters {
                position: relative;
                height: 40px;
            }

            &__tags {
                display: none;
            }
        }

        .mobile-select {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 83px 30px 30px 30px;
            border: 1px solid $gen;
            z-index: 3;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            &__box {
                padding: 30px;
                border-radius: 20px;
                background-color: #fff;

                &>button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    width: 100%;
                    text-align: left;

                    &:not(:first-child) {
                        margin-top: 24px;
                    }

                    &.active,
                    &:hover {
                        background-color: transparent;
                        color: $gen;
                    }

                    &.active::after {
                        background-image: url('../img/icons/circle.svg');
                        background-size: 10px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &::after {
                        content: '';
                        display: block;
                        flex-shrink: 0;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid $gen;
                    }
                }
            }

            // &::after {
            //     content: '';
            //     position: absolute;
            //     right: 20px;
            //     top: 18px;
            //     width: 16px;
            //     height: 6px;
            //     background-image: url('../img/icons/arrow.svg');
            //     background-size: contain;
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     transition: transform .3s;
            // }
            // &.open {
            //     &:after {
            //         transform: rotate(-180deg);
            //     }
            // }
            // & > button {
            //     border-color: transparent;
            //     font-size: 16px;
            //     text-align: left;
            //     &.active {
            //         order: -1;
            //     }
            //     &:not(.active),
            //     &:not(.active):hover,
            //     &.active,
            //     &.active:hover {
            //         color: $gen;
            //         background-color: transparent;
            //         border-color: transparent;
            //     }
            // }
        }

        .filter-current {
            position: relative;
            width: 100%;
            text-align: left;
            margin-top: 0;
            border-color: $gen;

            &:first-child {
                margin-right: 0;
            }

            &.active,
            &:hover {
                background-color: transparent;
                color: $gen;
                border-color: $gen;
            }

            &::after {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 6px;
                background-image: url('../img/icons/arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .result {
            &__title {
                font-size: 20px;
            }

            &__text {
                font-size: 16px;
            }

            &__date,
            &__category {
                font-size: 14px;
            }
        }

        .search {
            &__count {
                margin-bottom: 20px;
            }
        }

        .not-found {
            &__image {
                width: calc(100% - 60px);
                height: auto;
                margin: 0 auto;
            }

            &__text {
                margin-top: 50px;

                &>p {
                    font-size: 18px;
                }
            }
        }

        .modal {
            &__box {
                width: calc(100% - 60px);
                padding: 74px 30px 30px 30px;
            }

            &__title {
                font-size: 16px;
            }

            &__already {
                font-size: 14px;
            }

            &__button {
                padding: 12px 30px;
            }

            .menu {
                &.active {
                    top: 100%;
                    left: -30px;
                    overflow: auto;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .postItem {
                padding: 30px;

                &__img {
                    margin-right: 30px;
                }

                &__status {
                    margin-bottom: 20px;
                }

                &__title {
                    margin-bottom: 12px;
                }
            }

            .videoItem {
                height: fit-content;
                padding: 15px;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }

                &__img {
                    height: 57%;
                    margin-bottom: 20px;
                }

                &__tags {
                    &Item {
                        font-size: 14px;

                        &:not(:last-child) {
                            margin-right: 16px;
                        }
                    }
                }

                &__title {
                    margin-bottom: 12px;
                }

                &__date {
                    font-size: 14px;
                }
            }

            .banner {
                &__box {
                    padding: 40px 0;
                }

                &__description {
                    width: 48%;
                    margin-right: 4%;
                }
            }

            .subscribe {
                width: 48%;

                &__input {
                    &::placeholder {
                        font-size: 15px;
                    }
                }

                &__btn {
                    font-size: 14px;
                }
            }

            .footer {
                padding: 40px 0;

                &__flex {
                    justify-content: center;
                    margin-bottom: 46px;
                }

                &__column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: unset;
                    margin-right: unset;
                }

                &__contacts {
                    margin-top: 50px;
                }

                &__social {
                    &Item {
                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                    }
                }

                &__nav {
                    display: none;
                }

                &__copyright {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &__company {
                    order: 2;
                    margin-right: unset;
                }

                &__policy {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@include small {
    .postItem {
        flex-direction: column;
        height: max-content;
        padding: 0;
        box-shadow: none;

        &__img {
            height: 333px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__status {
            position: absolute;
            top: 24px;
            left: 9px;
        }
    }

    .videoItem {
        padding: 0;
        box-shadow: none;

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    .banner {
        &__box {
            flex-direction: column;
            padding: 30px 0;
        }

        &__description {
            width: 70%;
            margin-right: 0;
            margin-bottom: 40px;
        }

        &__icon {
            width: 100%;
        }
    }

    .subscribe {
        width: 100%;
    }
}

@include x-small {
    .postItem {
        &__img {
            height: 185px;
        }
    }

    .banner {
        &__description {
            width: 100%;
        }
    }

    .subscribe {
        &__btn {
            width: 40%;
        }
    }
}

@include xx-small {
    h1 {
        font-size: 24px;
    }

    .subscribe {
        &__btn {
            width: 45%;
        }
    }
}