@import 'root';
@import 'media';
@import 'keyframes';
@import 'mixins';

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $raleway;
    cursor: default;
    background-color: #fff;
    color: $gen;
    @extend %scrollbar;
}

section {
    position: relative;
}

p {
    color: $text;
}

ul {
    list-style: none;
}

.wrapper {
    width: calc(100% - 250px);
    margin: 0 auto;
    max-width: 1440px;

    &--wide {
        max-width: 1500px;
    }
}

a {
    color: $accent;
    display: inline-block;
    text-decoration: none;
}

svg {
    min-height: 1rem;
    height: 1rem;
}

textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $raleway;
    border: none;
    background: none;
    outline: none;

    &[disabled] {
        cursor: default;
        opacity: .7;
    }
}

button {
    cursor: pointer;
}

// убирает цвет автокомплита у инпута
input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.preloader {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    transition: all .3s;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 2rem);
        left: calc(50% - 2rem);
        height: 4rem;
        width: 4rem;
    }
}

// Шаблон для модального окна
// .modal Обязательный класс для всех модальных окон, для попапов используем класс .popup который экстендит(@extend) класс modal или описываем свой.
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @extend %flexbox;
    justify-content: center;

    //Вложенное окно с контентом, необходимо задать фиксированные размерыж
    &__box{
        padding: 2rem 3rem;
        box-sizing: border-box;
        position: relative;
        background-color: $bgc;
        overflow: auto;
        max-height: 100%;
        max-width: 100%;
    }

    // Кнопка закрытия
    &__close{
        @extend %close-btn;
    }
}

.header {
    &__container {
        position: relative;
        box-sizing: border-box;
        height: 6.875rem;
        padding-top: .6875rem;
    }

    &__controls {
        @extend %flexbox;
        justify-content: flex-end;
        margin-bottom: 1.0625rem;
    }

    &__search {
        @extend %flexbox;
        position: relative;
        height: 1.875rem;

        &-btn {
            position: relative;
            top: 2px;

            & > svg > path {
                transition: fill .2s linear;
            }
    
            &:hover > svg > path {
                fill: $accent-lighten;
            }
        }

        &-input {
            width: 0;
            opacity: 0;
            box-sizing: border-box;
            padding: 0;
            color: $text;
            font-family: $exo;
            font-size: .875rem;
            font-weight: 300;
            transition: width .2s linear, opacity .2s linear, padding .2s linear;

            &::placeholder {
                color: $gray-darken;
            }
        }

        &.active {
            & > button {
                position: absolute;
                top: .5rem;
                left: .8125rem;
            }

            & > input {
                width: 28.125rem;
                opacity: 1;
                padding: .375rem .8125rem .375rem 2.625rem;
                border: 1px solid $gray-darken;
                border-radius: 15px;
            }
        }
    }

    &__row {
        @extend %flexbox;
        justify-content: space-between;
    }

    &__menu {
        margin-right: 2.0625rem; 
    }

    &__menu-item {
        color: $gray-darken;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;

        &:not(:last-child):after {
            content: '';
            display: inline-block;
            position: relative;
            top: -2px;
            width: 4px;
            height: 4px;
            margin: 0 .6875rem;
            border-radius: 50%;
            background-color: $gray-darken;
        }
    }

    &__profile-auth {
        color: $accent;
        font-weight: 700;
        margin-right: 1.875rem;
        transition: color .2s linear;

        &:hover {
            color: $accent-lighten;
        }
    }

    &__profile-signup {
        @extend %button-small;
    }
}

.logo {
    @extend %flexbox;
    height: 2.6875rem;
    width: 14.375rem;
    border-color: $gray-darken;
    color: $gray-darken;
    font-family: $exo;

    &--white {
        border-color: #ffffff;
        color: #ffffff;
    }

    &__img {
        box-sizing: border-box;
        padding-right: 1.375rem;
        border-right: 1px solid;
        border-color: inherit;
        margin-right: 1.375rem;
    }
}

.nav {
    &__item {
        display: inline-block;
        position: relative;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-right: 3.125rem;
        }

        &--subnav {
            padding-right: 1rem;

            &:hover > .subnav {
                visibility: visible;
                opacity: 1;
            }

            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                height: 6px;
                width: 1.3px;
                border-radius: 5px;
                background-color: $text;
                transition: transform .2s linear;
            }

            &::before {
                right: calc(.5rem - 3.7px);
                transform: rotate(45deg);
            }

            &::after {
                right: .5rem;
                transform: rotate(-45deg);
            }

            &:hover::before {
                transform: rotate(135deg);
            }

            &:hover::after {
                transform: rotate(-135deg);
            }
        }
    }

    &__link {
        color: $text;
        font-size: 1.125rem;
        font-weight: 500;
    }
}

.subnav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    box-sizing: border-box;
    padding-top: 1.875rem;
    transition: opacity .2s linear;

    &__box {
        position: relative;
        box-sizing: border-box;
        padding: 3.125rem 1.875rem;
        background-color: #ffffff;
        box-shadow: -1px 9px 20px rgba(116, 116, 188, .25);

        &::after {
            content: '';
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translateX(-50%);
            transform: rotate(45deg);
            height: 16px;
            width: 16px;
            background-color: inherit;
        }

        &--grid {
            display: grid;
            grid-template-columns: repeat(3, 17rem);
            gap: 3.0625rem;
        }
    }

    &__link, &__item {
        @extend %flexbox;
        width: 100%;
        color: $text;
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__link {
        &:not(:last-child) {
            margin-bottom: 1.875rem;
        }
    }

    &__icon {
        margin-right: 1.25rem;
    }
}

.footer {
    box-sizing: border-box;
    padding: 4.4375rem 0;
    background-color: $gen;

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.8125rem;
    }

    &__column {
        flex-grow: 1;
        margin-right: 7.875rem;
    }

    &__contacts {
        width: max-content;
        margin-top: 4.4375rem;
    }

    &__phone {
        color: #ffffff;
        font-family: $exo;
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &__social {
        @extend %flexbox;
        justify-content: space-between;
        width: 100%;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &:not(:last-child) {
            margin-right: 1.625rem;
        }
    }

    &__link {
        margin-bottom: .9375rem;
        color: #ffffff;
        font-family: $roboto;
        font-weight: 300;

        &--title {
            font-weight: 500;
            margin-bottom: 1.0625rem;
        }
    }

    &__company, &__policy {
        color:#ffffff;
        font-size: .875rem;
    }

    &__company {
        margin-right: 7.3125rem;
    }

    &__policy {
        text-decoration: underline;
    }
}
