$gen: #34353E;
$accent: #7BB933;
$accent-lighten: #8CD23A;

$blue: #165AA2;
$gray: #D7D8DC;
$gray-lighten: #F9F9F9;
$gray-darken: #6B7785;

$bgc: #EFEFF1;

$text: #34353E;
$font-gen: 'Raleway', sans-serif;
$font-accent: 'Exo 2', sans-serif;
