$gen: #34353E;
$accent: #7BB933;
$accent-lighten: #8CD23A;
$blue: #165AA2;
$gray: #D7D8DC;
$gray-lighten: #F9F9F9;
$gray-darken: #6B7785;
$bgc: #EFEFF1;
$text: #34353E;
$raleway: 'Raleway', sans-serif;
$exo: 'Exo 2', sans-serif;
$roboto: 'Roboto', sans-serif;
