<div class="bnr bnr--reminder bnr--ie">
    <div class="wrapper wrapper--wide">
        <div class="bnr__box">
            <div class="bnr__text">
                <h5>Вы зашли на сайт с помощью Internet Explorer!</h5>
                <span>Часть информации может отображаться некорректно</span>
                <span>Рекомендуем использовать современный браузер: <a href="https://www.google.com/intl/ru_ru/chrome/" target="_blank">Google Chrome</a> или <a href="https://www.mozilla.org/ru/firefox/download/thanks/" target="_blank">Mozilla Firefox</a></span>
            </div>
            <button class="bnr__closeBtn"></button>
        </div>
    </div>
</div>
