<div class="draft">
    <h4 class="draft__title">Жилой дом 15 секций</h4>
    <ul class="draft__list">
        <li class='draft__item'>
            <span class="draft__name">Площадь:</span>
            <span class="draft__value">15000</span>
        </li>
        <li class='draft__item'>
            <span class="draft__name">Этажей:</span>
            <span class="draft__value">8</span>
        </li>
        <li class='draft__item'>
            <span class="draft__name">Системы:</span>
            <span class="draft__value">АПС, СОУЭ, АДУ, АПТ, АГПТ</span>
        </li>
        <li class='draft__item'>
            <span class="draft__name">Бренды:</span>
            <span class="draft__value">RUBEZH R3, SONAR, STRAZH</span>
        </li>
        <li class='draft__item'>
            <span class="draft__name">Особенности:</span>
            <span class="draft__value">3000 извещателей, стойка оповещения на 5000 Вт
                (применены радиоканальные громкоговорители), СКУД на 4000 точек
                доступа.</span>
        </li>
    </ul>
    <a class="draft__download" href="#">Скачать</a>
</div>
