<footer class="footer">
    <div class="wrapper wrapper--wide">
        <div class="footer__flex">
            <div class="footer__column">
                <a class="logo logo--white" href="/"><img class="logo__img" src="img/logo/logo-white.svg" alt="Портал проектировщика">Портал проектировщика</a>

                <div class="footer__contacts">
                    <a class="footer__phone" href="tel:+78000000000">8 800-000-00-00</a>
                    <div class="footer__social">
                        <a href="#"><img src="img/social/vk.svg" alt="VK"></a>
                        <a href="#"><img src="img/social/yt.svg" alt="YouTube"></a>
                        <a href="#"><img src="img/social/fb.svg" alt="Facebook"></a>
                        <a href="#"><img src="img/social/inst.svg" alt="Instagram"></a>
                    </div>
                </div>
            </div>

            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Полезные материалы</a>
                <a class="footer__link" href="#">Типовые решения</a>
                <a class="footer__link" href="#">Примеры проектов</a>
                <a class="footer__link" href="#">Схемы подключения</a>
                <a class="footer__link" href="#">Монтажные схемы / чертежи приборов</a>
                <a class="footer__link" href="#">Нормативные документы</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Калькуляторы</a>
                <a class="footer__link" href="#">Калькулятор ИВЭПР</a>
                <a class="footer__link" href="#">Подбор шкафов</a>
                <a class="footer__link" href="#">Расчет АЛС</a>
                <a class="footer__link" href="#">Калькулятор Sonar</a>
                <a class="footer__link" href="#">Другие калькуляторы</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Автоматизация проектирования</a>
                <a class="footer__link" href="#">LISP-программы для AutoCAD</a>
                <a class="footer__link" href="#">RubezhCAD</a>
                <a class="footer__link" href="#">R-BIM</a>
                <a class="footer__link" href="#">Материалы для nanoCAD</a>
                <a class="footer__link" href="#">Материалы для Renga</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Обучение</a>
                <a class="footer__link" href="#">BIM&Security</a>
                <a class="footer__link" href="#">PROПРОЕКТ</a>
                <a class="footer__link" href="#">Rubezh Quiz</a>
                <a class="footer__link" href="#">Расписание событий</a>
                <a class="footer__link" href="#">Видеоматериалы</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Поддержка</a>
                <a class="footer__link" href="#">ЧаВО</a>
                <a class="footer__link" href="#">Контакты поддержки</a>
                <a class="footer__link" href="#">Проверка проекта</a>
                <a class="footer__link" href="#">Статьи</a>
                <a class="footer__link footer__link--title" href="#">Продукция</a>
            </nav>
        </div>

        <div class="footer__copyright">
            <span class="footer__company">© 2021 Компания Rubezh</span>
            <a class="footer__policy" href="#">Политика конфиденциальности</a>
        </div>
    </div>
</footer>
