<footer class="footer">
    <div class="wrapper wrapper--wide">
        <div class="footer__container">
            <div class="footer__column">
                <a class="logo" href="/">
                    <img class="logo__img logo__img--white" src="img/logo/logo-white.svg" alt="Портал проектировщика">
                    <span class="logo__name logo__name--white">Портал проектировщика</span>
                </a>
                
                <div class="footer__contacts">
                    <a class="footer__phone" href="tel:+78000000000">8 800-000-00-00</a>
                    <div class="footer__social">
                        <a href="#">
                            <img src="img/social/vk.svg" alt="VK">
                        </a>
                        <a href="#">
                            <img src="img/social/yt.svg" alt="YouTube">
                        </a>
                        <a href="#">
                            <img src="img/social/fb.svg" alt="Facebook">
                        </a>
                        <a href="#">
                            <img src="img/social/inst.svg" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Полезные материалы</a>
                <a class="footer__link" href="#">Типовые решения</a>
                <a class="footer__link" href="#">Примеры проектов</a>
                <a class="footer__link" href="#">Схемы подключения</a>
                <a class="footer__link" href="#">Монтажные схемы / чертежи приборов</a>
                <a class="footer__link" href="#">Нормативные документы</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Полезные материалы</a>
                <a class="footer__link" href="#">Типовые решения</a>
                <a class="footer__link" href="#">Примеры проектов</a>
                <a class="footer__link" href="#">Схемы подключения</a>
                <a class="footer__link" href="#">Монтажные схемы / чертежи приборов</a>
                <a class="footer__link" href="#">Нормативные документы</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Полезные материалы</a>
                <a class="footer__link" href="#">Типовые решения</a>
                <a class="footer__link" href="#">Примеры проектов</a>
                <a class="footer__link" href="#">Схемы подключения</a>
                <a class="footer__link" href="#">Монтажные схемы / чертежи приборов</a>
                <a class="footer__link" href="#">Нормативные документы</a>
            </nav>
            <nav class="footer__nav">
                <a class="footer__link footer__link--title" href="#">Полезные материалы</a>
                <a class="footer__link" href="#">Типовые решения</a>
                <a class="footer__link" href="#">Примеры проектов</a>
                <a class="footer__link" href="#">Схемы подключения</a>
                <a class="footer__link" href="#">Монтажные схемы / чертежи приборов</a>
                <a class="footer__link" href="#">Нормативные документы</a>
            </nav>
        </div>
    </div>
</footer>
