<article class="postItem">
    <a class="postItem__link" href="#"></a>
    <img class="postItem__img" src="img/category/calc.jpg" alt="Калькулятор источников питания (online)">
    <div class="postItem__description">
        <button class="postItem__status" type="button">Онлайн</button>
        <h5 class="postItem__title">Калькулятор источников питания (online)</h5>
        <p class="postItem__text">
            Калькулятор служит для подбора источников питания в зависимости от подключаемой нагрузки и необходимому времени резервирования.
        </p>
    </div>
</article>
