<a class="videoItem" href="#">
    <div class="videoItem__header">
        <img class="videoItem__img" src="img/category/video.jpg" alt="Проектирование адресной системы тм «RUBEZH». Часть 2">
        <div class="videoItem__tags">
            <span class="videoItem__tags-item">#Проектирование</span>
            <span class="videoItem__tags-item">#Оборудование</span>
        </div>
        <h5 class="videoItem__title">Проектирование адресной системы тм «RUBEZH». Часть 2</h5>
        <div class="videoItem__content">
            <div class="videoItem__text">
                <p>Перечень вопросов рассматриваемых на вебинаре:</p>
                <ol>
                    <li>Организация адресной, пороговой, радиоканальной и взрывозащищенной пожарной сигнализации на базе оборудования ТМ «Рубеж прот. R3».</li>
                    <li>Новинки адресной системы.</li>
                    <li>Минимальное количество извещателей в помещении. Сравнение требований действующих и новых нормативных, вступающих в силу в 2020 году.</li>
                    <li>Организация системы оповещения и управления эвакуацией.</li>
                    <li>Сервис по подбору стойки речевого оповещения тм "Sonar".</li>
                </ol>
            </div>
            <button class="videoItem__btn">Смотреть</button>
        </div>
    </div>
    <time class="videoItem__date">27 ноября 2020</time>
</a>
