<div class="videoItem">
    <img class="videoItem__img" src="img/category/video.jpg" alt="Проектирование адресной системы тм «RUBEZH». Часть 2">
    <div class="videoItem__tags">
        <span class="videoItem__tags-item">#Проектирование</span>
        <span class="videoItem__tags-item">#Оборудование</span>
    </div>
    <h5 class="videoItem__title">Проектирование адресной системы тм «RUBEZH». Часть 2</h5>
    <div class="videoItem__content">
        <div class="videoItem__text">
            Перечень вопросов рассматриваемых на вебинаре:
            1. Организация адресной, пороговой, радиоканальной и взрывозащищенной пожарной сигнализации на базе оборудования ТМ «Рубеж прот. R3».
            2. Новинки адресной системы.
            3. Минимальное количество извещателей в помещении. Сравнение требований действующих и новых нормативных, вступающих в силу в 2020 году
            4. Организация системы оповещения и управления эвакуацией.
            5. Сервис по подбору стойки речевого оповещения тм "Sonar".
        </div>
        <a class="videoItem__btn" href="#">Смотреть</a>
    </div>
    <time class="videoItem__date">27 ноября 2020</time>
</div>
