@charset "UTF-8";

.header__search,
.menu__search,
.modal,
.header__controls,
.header__row,
.header__profile,
.header__profile-pic,
.logo,
.subnav__link,
.subnav__item,
.menu__itemBox,
.more,
.footer__contacts,
.footer__social,
.content__field,
.content__tags,
.content__tag,
.auth__header {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: .5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #F2F2F2;
  background: #7BB933;
}

.modal__close,
.content__mobileClose,
.header__search.active > .header__search-closeBtn {
  position: absolute;
  height: 20px;
  width: 20px;
}

.modal__close::after,
.content__mobileClose::after,
.header__search.active > .header__search-closeBtn::after,
.modal__close::before,
.content__mobileClose::before,
.header__search.active > .header__search-closeBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(50% - 10px);
  height: 2px;
  width: 100%;
  background-color: #7BB933;
  transition: background-color .2s linear;
}

.modal__close::after,
.content__mobileClose::after,
.header__search.active > .header__search-closeBtn::after {
  transform: rotate(45deg);
}

.modal__close::before,
.content__mobileClose::before,
.header__search.active > .header__search-closeBtn::before {
  transform: rotate(135deg);
}

.modal__close:hover::after,
.content__mobileClose:hover::after,
.header__search.active > .header__search-closeBtn:hover::after,
.modal__close:hover::before,
.content__mobileClose:hover::before,
.header__search.active > .header__search-closeBtn:hover::before {
  background-color: #8CD23A;
}

.nav__item--subnav::before,
.menu__btn::before,
.nav__item--subnav::after,
.menu__btn::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  height: 6px;
  width: 1.3px;
  border-radius: 5px;
  background-color: #34353E;
  transition: transform .2s linear, background-color .2s linear;
}

.nav__item--subnav::before,
.menu__btn::before {
  transform: rotate(45deg);
}

.nav__item--subnav::after,
.menu__btn::after {
  transform: rotate(-45deg);
}

.header__search,
.menu__search {
  position: relative;
}

.header__search-btn,
.menu__search-btn {
  position: absolute;
  top: calc(50% + 2px);
  transform: translateY(-50%);
}

.header__search-btn > svg > path,
.menu__search-btn > svg > path {
  transition: fill .2s linear;
}

.header__search-btn:hover > svg > path,
.menu__search-btn:hover > svg > path {
  fill: #8CD23A;
}

.header__search-input,
.menu__search-input {
  height: 100%;
  color: #34353E;
  font-family: "Exo 2", sans-serif;
  font-size: .875rem;
  font-weight: 300;
}

.header__search-input::placeholder,
.menu__search-input::placeholder {
  color: #6B7785;
}

/*кнопка меню*/

/*в разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.header__burger {
  overflow: visible;
}

.header__burger > span {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 16px;
}

.header__burger > span,
.header__burger > span::after,
.header__burger > span::before {
  height: 2px;
  border-radius: 1px;
  background-color: #6B7785;
  transition: transform .3s;
}

.header__burger > span::after,
.header__burger > span::before {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
}

.header__burger > span::after {
  top: 5px;
}

.header__burger > span::before {
  top: -5px;
}

.active.header__burger > span {
  background-color: transparent;
  transition: none;
}

.active.header__burger > span::after {
  top: 0;
  transform: rotate(-135deg);
}

.active.header__burger > span::before {
  top: 0;
  transform: rotate(135deg);
}

.postItem__status,
.postItem__text,
.videoItem__text,
.more__text {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}

.nav__link,
.subnav__link,
.subnav__item,
.menu__link,
.account__link {
  font-size: 1.125rem;
  font-weight: 500;
}

.more__btn,
.modal__button,
.header__profile-signup,
.videoItem__btn,
.content__mobileSubmit,
.auth__submit {
  box-sizing: border-box;
  padding: 1.25rem 2.25rem;
  border-radius: 31px;
  background-color: #7BB933;
  text-align: center;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  transition: background-color .2s linear;
}

.more__btn:hover,
.modal__button:hover,
.header__profile-signup:hover,
.videoItem__btn:hover,
.content__mobileSubmit:hover,
.auth__submit:hover {
  background-color: #8CD23A;
}

.more__btn,
.modal__button,
.header__profile-signup,
.videoItem__btn {
  min-width: 10.9375rem;
  padding: .9375rem;
  border-radius: 23px;
  font-size: .875rem;
}

.more__btn {
  min-width: 11.25rem;
  padding: .875rem;
  border: 1px solid #7BB933;
  background-color: #ffffff;
  color: #7BB933;
  font-size: 1rem;
  line-height: 1.15;
  transition: background-color .2s linear, color .2s linear;
}

.more__btn:hover {
  background-color: #7BB933;
  color: #ffffff;
}

.postItem__status {
  min-width: 10.875rem;
  box-sizing: border-box;
  padding: .5625rem 1.875rem;
  border-radius: 20px;
  border: 1px solid #34353E;
  background-color: #ffffff;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.15;
  transition: border-color .2s linear, background-color .2s linear, color .2s linear;
}

.postItem__status:hover {
  border-color: #7BB933;
  background-color: #7BB933;
  color: #ffffff;
}

.active.postItem__status {
  border-color: #165AA2;
  background-color: #165AA2;
  color: #ffffff;
}

.active.postItem__status:hover {
  background-color: #165AA2;
}

.postItem__status {
  min-width: unset;
  padding: 0.3125rem 1.1875rem;
  border-color: #165AA2;
  background-color: #165AA2;
  line-height: 1;
  color: #ffffff;
}

.postItem__status:hover {
  background-color: #165AA2;
}

.owl-prev,
.owl-next {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #7BB933;
  transition: background-color .2s linear;
}

.owl-prev > svg,
.owl-next > svg {
  height: 19px;
  width: 8px;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #8CD23A;
}

.owl-dot {
  position: relative;
  height: 1rem;
  width: 1rem;
}

.owl-dot:not(:last-child) {
  margin-right: .75rem;
}

.owl-dot > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  background-color: #EFEFF1;
  transition: height .2s linear, width .2s linear, background-color .2s linear;
}

.active.owl-dot > span {
  height: 100%;
  width: 100%;
  background-color: #6B7785;
}

.auth__input {
  display: block;
  padding: 7px 19px;
  border: 1px solid rgba(52, 53, 62, 0.5);
  border-radius: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.auth__input::-webkit-outer-spin-button,
.auth__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auth__input[type='number'] {
  -moz-appearance: textfield;
}

.content__checkbox,
.auth__checkbox,
.content__radio,
.menu {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  overflow: hidden;
}

.content__checkbox ~ label,
.auth__checkbox ~ label {
  cursor: pointer;
  user-select: none;
}

.content__checkbox + label,
.auth__checkbox + label {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #7BB933;
  border-radius: 2px;
  background-color: #fff;
}

.content__checkbox + label::after,
.auth__checkbox + label::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 8px;
  background-image: url("../img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.content__checkbox:checked + label,
.auth__checkbox:checked + label {
  background-color: #7BB933;
}

.content__radio ~ label {
  user-select: none;
  cursor: pointer;
}

.content__radio + label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #34353E;
  border-radius: 50%;
}

.content__radio + label::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #6B7785;
  border-radius: 50%;
  opacity: 0;
}

.content__radio:checked + label {
  border-color: #6B7785;
}

.content__radio:checked + label::before {
  opacity: 1;
}

.content__radio[disabled] ~ label {
  opacity: 0.55;
}

.content__filter {
  padding: 0.5rem 1.875rem;
  border: 1px solid #34353E;
  border-radius: 20px;
  font-size: 1.125rem;
  font-family: "Exo 2", sans-serif;
  background-color: transparent;
  color: #34353E;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.content__filter:hover,
.active.content__filter {
  background-color: #165AA2;
  color: #fff;
  border-color: #165AA2;
}

.header__search,
.menu__search,
.modal,
.header__controls,
.header__row,
.header__profile,
.header__profile-pic,
.logo,
.subnav__link,
.subnav__item,
.menu__itemBox,
.more,
.footer__contacts,
.footer__social,
.content__field,
.content__tags,
.content__tag,
.auth__header {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: .5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #F2F2F2;
  background: #7BB933;
}

.modal__close,
.content__mobileClose,
.header__search.active > .header__search-closeBtn {
  position: absolute;
  height: 20px;
  width: 20px;
}

.modal__close::after,
.content__mobileClose::after,
.header__search.active > .header__search-closeBtn::after,
.modal__close::before,
.content__mobileClose::before,
.header__search.active > .header__search-closeBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(50% - 10px);
  height: 2px;
  width: 100%;
  background-color: #7BB933;
  transition: background-color .2s linear;
}

.modal__close::after,
.content__mobileClose::after,
.header__search.active > .header__search-closeBtn::after {
  transform: rotate(45deg);
}

.modal__close::before,
.content__mobileClose::before,
.header__search.active > .header__search-closeBtn::before {
  transform: rotate(135deg);
}

.modal__close:hover::after,
.content__mobileClose:hover::after,
.header__search.active > .header__search-closeBtn:hover::after,
.modal__close:hover::before,
.content__mobileClose:hover::before,
.header__search.active > .header__search-closeBtn:hover::before {
  background-color: #8CD23A;
}

.nav__item--subnav::before,
.menu__btn::before,
.nav__item--subnav::after,
.menu__btn::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  height: 6px;
  width: 1.3px;
  border-radius: 5px;
  background-color: #34353E;
  transition: transform .2s linear, background-color .2s linear;
}

.nav__item--subnav::before,
.menu__btn::before {
  transform: rotate(45deg);
}

.nav__item--subnav::after,
.menu__btn::after {
  transform: rotate(-45deg);
}

.header__search,
.menu__search {
  position: relative;
}

.header__search-btn,
.menu__search-btn {
  position: absolute;
  top: calc(50% + 2px);
  transform: translateY(-50%);
}

.header__search-btn > svg > path,
.menu__search-btn > svg > path {
  transition: fill .2s linear;
}

.header__search-btn:hover > svg > path,
.menu__search-btn:hover > svg > path {
  fill: #8CD23A;
}

.header__search-input,
.menu__search-input {
  height: 100%;
  color: #34353E;
  font-family: "Exo 2", sans-serif;
  font-size: .875rem;
  font-weight: 300;
}

.header__search-input::placeholder,
.menu__search-input::placeholder {
  color: #6B7785;
}

/*кнопка меню*/

/*в разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.header__burger {
  overflow: visible;
}

.header__burger > span {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 16px;
}

.header__burger > span,
.header__burger > span::after,
.header__burger > span::before {
  height: 2px;
  border-radius: 1px;
  background-color: #6B7785;
  transition: transform .3s;
}

.header__burger > span::after,
.header__burger > span::before {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
}

.header__burger > span::after {
  top: 5px;
}

.header__burger > span::before {
  top: -5px;
}

.active.header__burger > span {
  background-color: transparent;
  transition: none;
}

.active.header__burger > span::after {
  top: 0;
  transform: rotate(-135deg);
}

.active.header__burger > span::before {
  top: 0;
  transform: rotate(135deg);
}

.postItem__status,
.postItem__text,
.videoItem__text,
.more__text {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}

.nav__link,
.subnav__link,
.subnav__item,
.menu__link,
.account__link {
  font-size: 1.125rem;
  font-weight: 500;
}

.more__btn,
.modal__button,
.header__profile-signup,
.videoItem__btn,
.content__mobileSubmit,
.auth__submit {
  box-sizing: border-box;
  padding: 1.25rem 2.25rem;
  border-radius: 31px;
  background-color: #7BB933;
  text-align: center;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  transition: background-color .2s linear;
}

.more__btn:hover,
.modal__button:hover,
.header__profile-signup:hover,
.videoItem__btn:hover,
.content__mobileSubmit:hover,
.auth__submit:hover {
  background-color: #8CD23A;
}

.more__btn,
.modal__button,
.header__profile-signup,
.videoItem__btn {
  min-width: 10.9375rem;
  padding: .9375rem;
  border-radius: 23px;
  font-size: .875rem;
}

.more__btn {
  min-width: 11.25rem;
  padding: .875rem;
  border: 1px solid #7BB933;
  background-color: #ffffff;
  color: #7BB933;
  font-size: 1rem;
  line-height: 1.15;
  transition: background-color .2s linear, color .2s linear;
}

.more__btn:hover {
  background-color: #7BB933;
  color: #ffffff;
}

.postItem__status {
  min-width: 10.875rem;
  box-sizing: border-box;
  padding: .5625rem 1.875rem;
  border-radius: 20px;
  border: 1px solid #34353E;
  background-color: #ffffff;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.15;
  transition: border-color .2s linear, background-color .2s linear, color .2s linear;
}

.postItem__status:hover {
  border-color: #7BB933;
  background-color: #7BB933;
  color: #ffffff;
}

.active.postItem__status {
  border-color: #165AA2;
  background-color: #165AA2;
  color: #ffffff;
}

.active.postItem__status:hover {
  background-color: #165AA2;
}

.postItem__status {
  min-width: unset;
  padding: 0.3125rem 1.1875rem;
  border-color: #165AA2;
  background-color: #165AA2;
  line-height: 1;
  color: #ffffff;
}

.postItem__status:hover {
  background-color: #165AA2;
}

.owl-prev,
.owl-next {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #7BB933;
  transition: background-color .2s linear;
}

.owl-prev > svg,
.owl-next > svg {
  height: 19px;
  width: 8px;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #8CD23A;
}

.owl-dot {
  position: relative;
  height: 1rem;
  width: 1rem;
}

.owl-dot:not(:last-child) {
  margin-right: .75rem;
}

.owl-dot > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  background-color: #EFEFF1;
  transition: height .2s linear, width .2s linear, background-color .2s linear;
}

.active.owl-dot > span {
  height: 100%;
  width: 100%;
  background-color: #6B7785;
}

.auth__input {
  display: block;
  padding: 7px 19px;
  border: 1px solid rgba(52, 53, 62, 0.5);
  border-radius: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.auth__input::-webkit-outer-spin-button,
.auth__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auth__input[type='number'] {
  -moz-appearance: textfield;
}

.content__checkbox,
.auth__checkbox,
.content__radio,
.menu {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  overflow: hidden;
}

.content__checkbox ~ label,
.auth__checkbox ~ label {
  cursor: pointer;
  user-select: none;
}

.content__checkbox + label,
.auth__checkbox + label {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #7BB933;
  border-radius: 2px;
  background-color: #fff;
}

.content__checkbox + label::after,
.auth__checkbox + label::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 8px;
  background-image: url("../img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.content__checkbox:checked + label,
.auth__checkbox:checked + label {
  background-color: #7BB933;
}

.content__radio ~ label {
  user-select: none;
  cursor: pointer;
}

.content__radio + label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #34353E;
  border-radius: 50%;
}

.content__radio + label::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #6B7785;
  border-radius: 50%;
  opacity: 0;
}

.content__radio:checked + label {
  border-color: #6B7785;
}

.content__radio:checked + label::before {
  opacity: 1;
}

.content__radio[disabled] ~ label {
  opacity: 0.55;
}

.content__filter {
  padding: 0.5rem 1.875rem;
  border: 1px solid #34353E;
  border-radius: 20px;
  font-size: 1.125rem;
  font-family: "Exo 2", sans-serif;
  background-color: transparent;
  color: #34353E;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.content__filter:hover,
.active.content__filter {
  background-color: #165AA2;
  color: #fff;
  border-color: #165AA2;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  cursor: default;
  background-color: #fff;
  color: #34353E;
}

section {
  position: relative;
}

p {
  color: #34353E;
}

ul {
  list-style: disc;
}

li {
  list-style-position: outside;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 2.625rem;
  font-weight: 700;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 2.25rem;
  font-weight: 700;
}

h5 {
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h6 {
  font-family: "Exo 2", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.wrapper {
  width: calc(100% - 250px);
  margin: 0 auto;
  max-width: 1200px;
}

.wrapper--wide {
  max-width: 1670px;
}

.wrapper--middle {
  max-width: 1400px;
}

.wrapper--detail {
  max-width: 850px;
}

.wrapper--menu {
  max-width: 576px;
  margin: unset;
}

a {
  color: #34353E;
  display: inline-block;
  text-decoration: none;
}

svg {
  min-height: 1rem;
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Raleway", sans-serif;
  border: none;
  background: none;
  outline: none;
}

textarea[disabled],
button[disabled],
input[disabled] {
  cursor: default;
  opacity: .7;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.preloader {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: all .3s;
}

.preloader::after {
  content: '';
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  height: 4rem;
  width: 4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__box {
  position: relative;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 4.625rem 3.125rem 3.125rem 3.125rem;
  border-radius: 8px;
  box-shadow: -1px 9px 20px rgba(116, 116, 188, 0.25);
  background-color: #FFFFFF;
  text-align: center;
}

.modal__close,
.content__mobileClose {
  top: 1.5rem;
  right: 2rem;
}

.modal__title {
  display: block;
  max-width: 25rem;
  font-family: "Exo 2", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
}

.modal__button {
  display: block;
  width: fit-content;
  margin: 1.875rem auto 0 auto;
}

.modal__already {
  display: block;
  margin-top: 1.25rem;
}

.modal__login {
  color: #7BB933;
  font-weight: 500;
  text-decoration: underline;
}

.header__container {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  height: 6.875rem;
  padding-top: .6875rem;
}

.header__controls {
  justify-content: flex-end;
  margin-bottom: 1.0625rem;
}

.header__search {
  height: 1.875rem;
}

.header__search-btn {
  right: 0;
}

.header__search-input {
  width: 0;
  visibility: hidden;
  opacity: 0;
  transition: width .2s linear, visibility .2s linear, opacity .2s linear, padding .2s linear;
}

.header__search-closeBtn {
  opacity: 0;
  transition: opacity .2s linear;
}

.header__search.active > .header__search-btn {
  left: .8125rem;
}

.header__search.active > input {
  width: 28.125rem;
  visibility: visible;
  opacity: 1;
  box-sizing: border-box;
  padding: 0 2.625rem;
  border: 1px solid #6B7785;
  border-radius: 15px;
}

.header__search.active > .header__search-closeBtn {
  top: 50%;
  right: .76375rem;
  transform: translateY(-50%);
  opacity: 1;
}

.header__row {
  position: relative;
  justify-content: space-between;
}

.header__menu {
  margin-right: 3.1875rem;
}

.header__menu-item {
  color: #6B7785;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: color .2s linear;
}

.header__menu-item:not(:last-child):after {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  width: 4px;
  height: 4px;
  margin: 0 .6875rem;
  border-radius: 50%;
  background-color: #6B7785;
}

.header__menu-item:hover {
  color: #7BB933;
}

.header__profile--logged {
  position: relative;
  cursor: default;
}

.header__profile--logged:hover .header__profile-pic {
  background-color: #8CD23A;
}

.header__profile--logged:hover .header__profile-name {
  color: #8CD23A;
}

.header__profile--logged:hover .account {
  opacity: 1;
  visibility: visible;
}

.header__profile-pic {
  justify-content: center;
  width: 46px;
  height: 46px;
  margin-right: 1rem;
  background-color: #7BB933;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
  transition: background-color .3s;
}

.header__profile-name {
  color: #7BB933;
  font-size: 0.875rem;
  font-weight: 600;
  transition: color .3s;
}

.header__profile-auth {
  color: #7BB933;
  font-weight: 700;
  margin-right: 1.875rem;
  transition: color .2s linear;
}

.header__profile-auth:hover {
  color: #8CD23A;
}

.header__burger {
  display: none;
}

.logo {
  height: 2.6875rem;
  width: 14.375rem;
  border-color: #6B7785;
  color: #6B7785;
  font-family: "Exo 2", sans-serif;
}

.logo--white {
  border-color: #ffffff;
  color: #ffffff;
}

.logo__img {
  box-sizing: border-box;
  padding-right: 1.375rem;
  border-right: 1px solid;
  border-color: inherit;
  margin-right: 1.375rem;
}

.nav__item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.nav__item:not(:last-child) {
  margin-right: 3.125rem;
}

.nav__item:hover {
  color: #7BB933;
}

.nav__item--subnav {
  z-index: 2;
  padding-right: 1rem;
}

.nav__item--subnav::before {
  right: calc(.5rem - 3.8px);
}

.nav__item--subnav::after {
  right: .5rem;
}

.nav__item--subnav:hover > .subnav {
  visibility: visible;
  opacity: 1;
}

.nav__item--subnav:hover::before,
.nav__item--subnav:hover::after {
  background-color: #7BB933;
}

.nav__item--subnav:hover::before {
  transform: rotate(135deg);
}

.nav__item--subnav:hover::after {
  transform: rotate(-135deg);
}

.nav__link {
  color: inherit;
  transition: color .2s linear;
}

.subnav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  box-sizing: border-box;
  padding-top: 1.875rem;
  transition: opacity .2s linear;
}

.subnav__box {
  position: relative;
  box-sizing: border-box;
  padding: 3.125rem 1.875rem;
  background-color: #ffffff;
  box-shadow: -1px 9px 20px rgba(116, 116, 188, 0.25);
}

.subnav__box::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
  height: 16px;
  width: 16px;
  background-color: inherit;
}

.subnav__box--grid {
  display: grid;
  grid-template-columns: repeat(3, 17rem);
  gap: 3.0625rem;
}

.subnav__box--grid::after {
  left: 21%;
}

.subnav__link,
.subnav__item {
  position: relative;
  width: 100%;
  color: #34353E;
  transition: color .2s linear;
}

.subnav__link:hover,
.subnav__item:hover {
  color: #7BB933;
}

.subnav__link > svg,
.subnav__item > svg {
  color: inherit;
  margin-right: 1.25rem;
  transition: color .2s linear;
}

.subnav__link > span,
.subnav__item > span {
  width: 70%;
}

.subnav__link:not(:last-child) {
  margin-bottom: 1.875rem;
}

.subnav--grid {
  left: -60%;
  transform: none;
}

.menu {
  height: calc(100vh - 60px);
  width: 100vw;
  box-sizing: border-box;
  padding: 30px 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity .3s;
}

.menu__search {
  height: 40px;
  margin-bottom: 50px;
}

.menu__search-btn {
  left: 18px;
}

.menu__search-input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 47px;
  padding-right: 18px;
  border: 1px solid #6B7785;
  border-radius: 20px;
}

.menu__box {
  box-sizing: border-box;
  margin-bottom: 40px;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu__itemBox {
  position: relative;
  justify-content: space-between;
}

.menu__link {
  margin-right: 20px;
}

.menu__link--bold {
  font-weight: 700;
}

.menu__btn {
  position: relative;
  right: 6px;
  height: 8px;
  width: 8px;
}

.menu__btn::before,
.menu__btn::after {
  transition: transform .2s linear;
}

.menu__btn::before {
  right: 0;
}

.menu__btn::after {
  right: -3.8px;
}

.menu__btn.active::before {
  transform: rotate(135deg);
}

.menu__btn.active::after {
  transform: rotate(-135deg);
}

.menu__profile {
  box-sizing: border-box;
  padding-top: 40px;
  border-top: 1px solid rgba(52, 53, 62, 0.5);
}

.submenu {
  display: none;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}

.submenu__link {
  width: 60%;
  font-weight: 500;
}

.submenu__link:not(:last-child) {
  margin-bottom: 20px;
}

.main {
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  padding-top: 4.5rem;
  padding-bottom: 9.375rem;
  overflow: hidden;
}

.main--p0 {
  padding: 0;
}

.postItem {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 18.75rem;
  width: 100%;
  box-sizing: border-box;
  padding: 3.125rem;
  box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
}

.postItem:not(:last-child) {
  margin-bottom: 3.125rem;
}

.postItem__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.postItem__link:hover ~ .postItem__description > .postItem__title {
  color: #34353E;
}

.postItem__img {
  height: 100%;
  width: 21.25rem;
  object-fit: cover;
  margin-right: 5rem;
}

.postItem__status {
  position: relative;
  margin-bottom: 1.875rem;
}

.postItem__title,
.postItem__text {
  color: #6B7785;
}

.postItem__title {
  margin-bottom: 1.25rem;
  transition: color .2s linear;
}

.videoItem {
  position: relative;
  display: block;
  height: 33.5625rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1.875rem;
  border-radius: 8px;
  box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
}

.videoItem:not(:last-child) {
  margin-bottom: 2rem;
}

.videoItem__img {
  height: 18.4375rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1.875rem;
}

.videoItem__tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.videoItem__tags-item {
  margin-bottom: .75rem;
  color: #7BB933;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}

.videoItem__tags-item:not(:last-child) {
  margin-right: 1rem;
}

.videoItem__title {
  margin-bottom: 1.25rem;
}

.videoItem__content {
  display: none;
  flex-direction: column;
  width: 100%;
}

.videoItem__text {
  color: #000000;
  line-height: 1.3;
  margin-bottom: 1.875rem;
}

.videoItem__text p:not(:last-child),
.videoItem__text li:not(:last-child) {
  margin-bottom: .7rem;
}

.videoItem__text li {
  list-style-position: inside;
}

.videoItem__btn {
  align-self: center;
  margin-bottom: 1.875rem;
}

.videoItem__date {
  color: #35363f;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}

.schemeItem {
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  padding-left: 2rem;
  color: #7BB933;
  font-family: "Exo 2", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.44;
  text-decoration: underline;
  transition: color .2s linear;
}

.schemeItem:hover {
  color: #8CD23A;
  text-decoration: none;
}

.schemeItem:hover > svg > * {
  stroke: #8CD23A;
}

.schemeItem > svg {
  position: absolute;
  top: 5px;
  left: 0;
  height: 1rem;
  width: 1.25rem;
}

.schemeItem > svg > * {
  transition: stroke .2s linear;
}

.more {
  flex-direction: column;
  margin-top: 3.75rem;
}

.more__btn {
  margin-bottom: 1.875rem;
}

.more__text {
  color: #000000;
  font-size: .875rem;
}

.owl-prev,
.owl-next {
  position: absolute;
}

.owl-prev {
  left: -4rem;
}

.owl-next {
  right: -4rem;
}

.bg-points {
  z-index: -1;
  position: absolute;
}

.bg-points:nth-child(odd) {
  top: 45%;
  left: 0;
}

.bg-points:nth-child(even) {
  top: 68%;
  right: 0;
}

.banner {
  position: relative;
  background-color: #6B7785;
}

.banner__box {
  z-index: 1;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 5rem 0;
}

.banner__description {
  width: 52%;
  margin-right: 8%;
}

.banner__title {
  color: #ffffff;
}

.banner__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}

.subscribe {
  z-index: 1;
  display: flex;
  height: 3.125rem;
  width: 40%;
  max-width: 29.8125rem;
  border-radius: 5px;
  font-weight: 500;
}

.subscribe__input {
  height: 100%;
  width: 70%;
  box-sizing: border-box;
  padding: 0 1.5625rem;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: #ffffff;
  font-weight: inherit;
}

.subscribe__input::placeholder {
  opacity: .5;
}

.subscribe__btn {
  height: 100%;
  width: 30%;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #7BB933;
  color: #ffffff;
  font-weight: inherit;
  transition: background-color .2s linear;
}

.subscribe__btn:hover {
  background-color: #8CD23A;
}

.footer {
  box-sizing: border-box;
  padding: 4.4375rem 0;
  background-color: #34353E;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.8125rem;
}

.footer__column {
  flex-grow: 1;
  margin-right: 7.875rem;
}

.footer__contacts {
  flex-direction: column;
  width: max-content;
  margin-top: 4.4375rem;
}

.footer__phone {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.footer__social {
  justify-content: space-between;
}

.footer__socialItem:not(:last-child) {
  margin-right: .75rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer__nav:not(:last-child) {
  margin-right: 1.625rem;
}

.footer__link {
  margin-bottom: .9375rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: color .2s linear;
}

.footer__link:hover {
  color: #7BB933;
}

.footer__link--title {
  font-weight: 500;
  margin-bottom: 1.0625rem;
}

.footer__link--title:hover {
  color: #ffffff;
}

.footer__company,
.footer__policy {
  color: #ffffff;
  font-size: .875rem;
}

.footer__company {
  margin-right: 7.3125rem;
}

.footer__policy {
  text-decoration: underline;
}

.account {
  position: absolute;
  top: 130%;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  min-width: 264px;
  padding: 50px 30px;
  border-radius: 4px;
  box-shadow: -1px 9px 20px rgba(116, 116, 188, 0.25);
  background-color: #fff;
  transition: opacity .3s, visibility .3s;
  z-index: 3;
}

.account::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 54px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.account__link {
  display: block;
  transition: color .3s;
}

.account__link:not(:first-child) {
  margin-top: 30px;
}

.account__link:hover {
  color: #7BB933;
}

.content__header {
  box-sizing: border-box;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(52, 53, 62, 0.5);
}

.content__subtitle {
  max-width: 53.125rem;
  margin-top: 1.75rem;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
}

.content__field {
  position: relative;
}

.content__field--search::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.content__field--filter {
  margin-top: 12px;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
}

.content__mobile {
  display: none;
}

.content__filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5625rem;
}

.content__filters > [class*='field'] {
  display: flex;
}

.content__filters > * {
  margin-top: 30px;
}

.content__filters > *:not(:last-child) {
  margin-right: 30px;
}

.content__search {
  margin-top: 4.0625rem;
}

.content__searchInput {
  margin-right: 1.875rem;
  width: 276px;
  padding: 6px 14px 6px 44px;
  border-radius: 15px;
  background-color: #EFEFF1;
  font-weight: 400;
  font-size: 1rem;
}

.content__searchClear {
  font-size: 1rem;
  text-decoration: underline;
  transition: color .2s linear;
}

.content__searchClear:hover {
  color: #7BB933;
  text-decoration: none;
}

.content__searchFilters {
  display: none;
}

.content__tags {
  flex-wrap: wrap;
  margin-top: 65px;
  font-family: "Exo 2", sans-serif;
}

.content__tag {
  justify-content: center;
  position: relative;
  padding: 0 16px;
  height: 30px;
  background: #EFEFF1;
  border-radius: 15px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}

.content__tag.custom {
  text-align: left;
  padding-right: 48px;
}

.content__tag.custom::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.content__clear {
  order: 1;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 16px;
}

.content__body {
  margin-top: 3.75rem;
}

.content__container {
  display: flex;
  justify-content: space-between;
}

.content__block--narrow {
  width: 295px;
}

.content__block--wide {
  width: 786px;
}

.content__block--grid {
  column-count: 2;
  column-gap: 38px;
}

.content__block--grid .more {
  column-span: all;
}

.content__control {
  margin-bottom: 60px;
}

.content__controlBlock {
  margin-bottom: 60px;
}

.content__heading {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.content__radio + label {
  margin-right: 16px;
}

.content__checkbox + label {
  border-color: #34353E;
  margin-right: 16px;
}

.content__checkbox:checked + label {
  border-color: #6B7785;
  background-color: #6B7785;
}

.content .bg-points:nth-child(odd) {
  top: 25%;
}

.not-found__image {
  display: block;
  width: 960px;
  height: 680px;
  object-fit: contain;
  margin: 0 auto;
}

.not-found__text {
  margin-top: 40px;
}

.not-found__text p {
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
}

.not-found__text p:not(:first-child) {
  margin-top: 16px;
}

.not-found__text a {
  color: #7BB933;
  text-decoration: underline;
  font-weight: 500;
}

.search__count {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 50px;
  font-weight: 500;
  color: #165AA2;
}

.result {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 40px;
}

.result__found {
  background-color: #EFEFF1;
}

.result__category {
  display: inline-block;
  margin-top: 8px;
  opacity: 0.5;
}

.result__date {
  margin-right: 20px;
  opacity: 0.5;
}

.result__tag {
  margin-right: 16px;
  font-size: 18px;
  color: #6B7785;
}

.result__title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
}

.result__title:hover {
  text-decoration: underline;
}

.result__text {
  margin-top: 15px;
  font-size: 18px;
}

.enter__header {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(52, 53, 62, 0.5);
}

.enter__subhead {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.3;
}

.enter__step {
  font-family: "Exo 2", sans-serif;
  font-size: 42px;
  font-weight: 500;
}

.auth {
  width: 425px;
  margin: 52px auto 0 auto;
}

.auth__header {
  justify-content: space-between;
}

.auth__link {
  padding: 6px 46px;
  border: 1px solid #7BB933;
  border-radius: 8px;
  color: #7BB933;
  transition: color .2s, background-color .2s;
}

.auth__link:not(.active):hover {
  background-color: #7BB933;
  color: #fff;
}

.auth__link.active {
  position: relative;
  color: #34353E;
  border-radius: 8px 8px 0px 0px;
  border-color: transparent;
  box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
  background-color: #fff;
  pointer-events: none;
}

.auth__link.active::after {
  content: '';
  position: absolute;
  left: -1px;
  bottom: -15px;
  width: 101%;
  height: 15px;
  background-color: #ffffff;
  z-index: 1;
}

.auth__body {
  position: relative;
  margin-top: 6px;
  padding: 40px 40px 50px 40px;
  background-color: #fff;
  box-shadow: -1px 9px 20px rgba(107, 119, 133, 0.25);
  border-radius: 8px;
}

.auth__form.error .auth__log-error {
  display: block;
}

.auth__log-error {
  display: none;
  color: #FF6562;
  margin-bottom: 30px;
}

.auth__field:not(:first-of-type) {
  margin-top: 30px;
}

.auth__field--confirm {
  display: flex;
}

.auth__label {
  font-size: 18px;
  font-weight: 400;
}

.auth__input {
  width: 345px;
  margin-top: 10px;
}

.auth__submit {
  display: block;
  width: fit-content;
  margin: 55px auto 0 auto;
  padding: 15px 78px;
  font-size: 14px;
  font-weight: 500;
}

.auth__forgot {
  display: block;
  margin: 20px auto 0 auto;
  width: fit-content;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  color: #7BB933;
}

.auth__new {
  width: fit-content;
  margin: 12px auto 0 auto;
  font-size: 14px;
}

.auth__reg {
  margin-left: 5px;
  color: #7BB933;
  text-decoration: underline;
  font-weight: 500;
}

.auth__checkbox ~ label {
  flex-shrink: 0;
  margin-right: 11px;
}

.auth__confirm {
  font-size: 14px;
}

.auth__confirm a {
  display: inline;
  color: #7BB933;
  text-decoration: underline;
}

.auth__step-title {
  display: block;
  margin-bottom: 30px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #165AA2;
}

@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1550px) {
  html {
    font-size: 15.5px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 14.5px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  .wrapper {
    width: calc(100% - 200px);
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 13.5px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 13px;
  }

  .wrapper {
    width: calc(100% - 150px);
  }

  .header .logo {
    width: fit-content;
    font-size: 0;
  }

  .header .logo__img {
    padding-right: 0;
    border-right: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 3.125rem;
  }

  .bg-points {
    display: none;
  }

  .footer__column {
    margin-right: 3.9375rem;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 12.5px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .more__btn,
  .modal__button,
  .header__profile-signup,
  .videoItem__btn,
  .content__mobileSubmit,
  .auth__submit {
    padding: 11px 14px;
    font-size: 16px;
    min-width: 155px;
  }

  .owl-dot {
    height: 12px;
    width: 12px;
  }

  .owl-dot > span {
    height: 9px;
    width: 9px;
    background-color: #6B7785;
  }

  .active.owl-dot > span {
    height: 100%;
    width: 100%;
    background-color: #7BB933;
  }

  html {
    font-size: 16px;
  }

  .more__btn,
  .modal__button,
  .header__profile-signup,
  .videoItem__btn,
  .content__mobileSubmit,
  .auth__submit {
    padding: 11px 14px;
    font-size: 16px;
    min-width: 155px;
  }

  .owl-dot {
    height: 12px;
    width: 12px;
  }

  .owl-dot > span {
    height: 9px;
    width: 9px;
    background-color: #6B7785;
  }

  .active.owl-dot > span {
    height: 100%;
    width: 100%;
    background-color: #7BB933;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  .main {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .wrapper {
    width: 100%;
    padding: 0 30px;
  }

  .header__container {
    height: fit-content;
    padding-top: 25px;
    padding-bottom: 4px;
  }

  .header__controls {
    display: none;
  }

  .header__row {
    height: 31px;
    justify-content: flex-end;
  }

  .header .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .header .logo__img {
    height: inherit;
  }

  .header__profile {
    margin-right: 26px;
  }

  .header__profile-auth {
    color: #6B7785;
    font-size: 14px;
    font-weight: 400;
    margin-right: 0;
  }

  .header__profile-signup {
    display: none;
  }

  .header__profile-pic {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .account {
    top: 190%;
    left: -250%;
  }

  .nav {
    display: none;
  }

  .menu.active {
    top: 100%;
    left: -30px;
    overflow: auto;
    visibility: visible;
    opacity: 1;
  }

  .postItem {
    padding: 30px;
  }

  .postItem__img {
    margin-right: 30px;
  }

  .postItem__status {
    margin-bottom: 20px;
  }

  .postItem__title {
    margin-bottom: 12px;
  }

  .videoItem {
    height: fit-content;
    padding: 15px;
  }

  .videoItem:not(:last-child) {
    margin-bottom: 24px;
  }

  .videoItem__img {
    height: 57%;
    margin-bottom: 20px;
  }

  .videoItem__tagsItem {
    font-size: 14px;
  }

  .videoItem__tagsItem:not(:last-child) {
    margin-right: 16px;
  }

  .videoItem__title {
    margin-bottom: 12px;
  }

  .videoItem__date {
    font-size: 14px;
  }

  .banner__box {
    padding: 40px 0;
  }

  .banner__description {
    width: 48%;
    margin-right: 4%;
  }

  .subscribe {
    width: 48%;
  }

  .subscribe__input::placeholder {
    font-size: 15px;
  }

  .subscribe__btn {
    font-size: 14px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__flex {
    justify-content: center;
    margin-bottom: 46px;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: unset;
    margin-right: unset;
  }

  .footer__contacts {
    margin-top: 50px;
  }

  .footer__socialItem:not(:last-child) {
    margin-right: 20px;
  }

  .footer__nav {
    display: none;
  }

  .footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__company {
    order: 2;
    margin-right: unset;
  }

  .footer__policy {
    margin-bottom: 16px;
  }

  .content__title {
    font-size: 24px;
  }

  .content__subtitle {
    margin-top: 15px;
    font-size: 18px;
  }

  .content__search {
    margin-top: 30px;
  }

  .content__block--arrow {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .postItem {
    flex-direction: column;
    height: max-content;
    padding: 0;
    box-shadow: none;
  }

  .postItem__img {
    height: 333px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .postItem__status {
    position: absolute;
    top: 24px;
    left: 9px;
  }

  .videoItem {
    padding: 0;
    box-shadow: none;
  }

  .videoItem:not(:last-child) {
    margin-bottom: 50px;
  }

  .banner__box {
    flex-direction: column;
    padding: 30px 0;
  }

  .banner__description {
    width: 70%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .banner__icon {
    width: 100%;
  }

  .subscribe {
    width: 100%;
  }

  .content__mobile {
    display: flex;
    align-items: center;
    font-family: "Exo 2", sans-serif;
  }

  .content__mobile--panel {
    margin-top: 30px;
  }

  .content__mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .content__mobileFooter {
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 0;
    padding: 22px 30px 18px 60px;
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(107, 119, 133, 0.25);
  }

  .content__mobileTitle {
    font-size: 24px;
    font-weight: 400;
  }

  .content__mobileClose {
    position: relative;
    top: unset;
    right: unset;
    width: 16px;
    height: 16px;
  }

  .content__mobileClose::after,
  .content__mobileClose::before {
    background-color: #34353E;
  }

  .content__mobileTags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }

  .content__mobileClear {
    font-size: 16px;
    text-decoration: underline;
  }

  .content__mobileSubmit {
    font-size: 16px;
    padding: 10px 36px;
  }

  .content__mobileSearch {
    width: 100%;
    padding: 12px 30px 12px 50px;
    border: 1px solid rgba(107, 119, 133, 0.5);
    border-radius: 20px;
    font-size: 14px;
    font-family: "Exo 2", sans-serif;
    transition: border-color .3s;
  }

  .content__mobileSearch:focus {
    border-color: #34353E;
  }

  .content__tag {
    margin-right: 9px;
    margin-bottom: 20px;
    height: fit-content;
    padding: 5px 16px;
    border-radius: 15px;
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #EFEFF1;
  }

  .content__tag:not(.default) {
    padding-right: 46px;
  }

  .content__block--control {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: auto;
    opacity: 0;
    background-color: #fff;
    z-index: 99;
    padding: 26px 35px 110px 30px;
    transition: opacity .3s, visibility .3s;
  }

  .content__block--control.active {
    opacity: 1;
    visibility: visible;
  }

  .content__block--grid {
    column-count: 1;
  }

  .content__header {
    padding-bottom: 40px;
    border-bottom: none;
  }

  .content__body {
    margin-top: 0;
  }

  .content__body .wrapper--detail {
    padding: 0;
  }

  .content__control {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .content__controlBlock {
    margin-bottom: 30px;
  }

  .content__heading {
    position: relative;
  }

  .content__heading::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 50% 50%;
    width: 16px;
    height: 6px;
    background-image: url("../img/icons/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .content__heading.open::after {
    transform: translateY(-50%) rotate(-180deg);
  }

  .content__heading.open ~ .content__fields {
    display: block;
  }

  .content__fields {
    display: none;
  }

  .content__field--mobile {
    position: relative;
    width: 100%;
    margin-top: 35px;
  }

  .content__field--mobile::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    z-index: 1;
    background-image: url("../img/icons/search--green.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content__search {
    display: none;
  }

  .content__search--mobile {
    display: block;
  }

  .content__search--main {
    display: block;
    margin-bottom: 20px;
  }

  .content__searchFilters {
    position: relative;
    display: flex;
    align-items: center;
    width: 148px;
    height: 31px;
    padding-left: 15px;
    border-radius: 15px;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    background-color: #EFEFF1;
  }

  .content__searchFilters svg {
    margin-right: 8px;
  }

  .content__searchCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin-left: 14px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    color: #fff;
  }

  .content__searchCount:not(:empty) {
    background-color: #165AA2;
  }

  .content__searchInput {
    width: 100%;
    margin-right: 0;
  }

  .content__searchInput--mobile {
    position: relative;
    width: fit-content;
    min-width: 147px;
    margin-right: 20px;
  }

  .content__searchClear {
    display: none;
  }

  .content__search--mobile {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: auto;
    z-index: 99;
    margin-top: 0;
    padding: 26px 35px 110px 30px;
    background-color: #fff;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
  }

  .content__search--mobile.active {
    opacity: 1;
    visibility: visible;
  }

  .content__filters {
    position: relative;
    height: 40px;
  }

  .content__tags {
    display: none;
  }

  .mobile-select {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 83px 30px 30px 30px;
    border: 1px solid #34353E;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }

  .mobile-select.active {
    opacity: 1;
    visibility: visible;
  }

  .mobile-select__box {
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
  }

  .mobile-select__box > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
  }

  .mobile-select__box > button:not(:first-child) {
    margin-top: 24px;
  }

  .mobile-select__box > button.active,
  .mobile-select__box > button.active:hover,
  .mobile-select__box > button:hover,
  .mobile-select__box > button:not(.active),
  .mobile-select__box > button:not(.active):hover {
    background-color: transparent;
    color: #34353E;
  }

  .mobile-select__box > button.active::after {
    background-image: url("../img/icons/circle.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-select__box > button::after {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #34353E;
  }

  .mobile-select__img {
    margin-right: 30px;
  }

  .mobile-select__status {
    margin-bottom: 20px;
  }

  .mobile-select__title {
    margin-bottom: 12px;
  }

  .filter-current {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: 0;
    border-color: #34353E;
  }

  .filter-current:first-child {
    margin-right: 0;
  }

  .filter-current.active,
  .filter-current:hover,
  .filter-current:not(.active),
  .filter-current:not(.active):hover {
    background-color: transparent;
    color: #34353E;
    border-color: #34353E;
  }

  .filter-current::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 6px;
    background-image: url("../img/icons/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .result__title {
    font-size: 20px;
  }

  .result__text {
    font-size: 16px;
  }

  .result__date,
  .result__category {
    font-size: 14px;
  }

  .search__count {
    margin-bottom: 20px;
  }

  .not-found__image {
    width: calc(100% - 60px);
    height: auto;
    margin: 0 auto;
  }

  .not-found__text {
    margin-top: 50px;
  }

  .not-found__text > p {
    font-size: 18px;
  }

  .modal__box {
    width: calc(100% - 60px);
    padding: 74px 30px 30px 30px;
  }

  .modal__title {
    font-size: 16px;
  }

  .modal__already {
    font-size: 14px;
  }

  .modal__button {
    padding: 12px 30px;
  }

  .auth {
    width: 100%;
    margin-top: 40px;
  }

  .auth__body {
    margin-top: 6px;
    padding: 40px 30px;
  }

  .auth__input {
    width: 100%;
  }

  .auth__new {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .auth__link {
    padding: 8px 24px;
  }

  .auth__link.active {
    padding: 11px 14px;
  }

  .auth__log-error {
    width: 100%;
    font-size: 15px;
  }

  .auth__submit {
    width: 100%;
    margin-top: 40px;
    padding: 15px 58px;
  }

  .enter__header {
    padding-bottom: 0;
    border-bottom: none;
  }

  .enter__title {
    font-size: 24px;
  }

  .enter__subhead {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .owl-dot {
    height: 8px;
    width: 8px;
  }

  .owl-dot > span {
    height: 6px;
    width: 6px;
  }

  .owl-dot {
    height: 8px;
    width: 8px;
  }

  .owl-dot > span {
    height: 6px;
    width: 6px;
  }

  .postItem__img {
    height: 185px;
  }

  .banner__description {
    width: 100%;
  }

  .subscribe__btn {
    width: 40%;
  }
}

@media (max-width: 374px) {
  h1 {
    font-size: 24px;
  }

  .subscribe__btn {
    width: 45%;
  }
}