@charset "UTF-8";

.modal,
.header__controls,
.header__box,
.header__logo-box {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: .5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #F2F2F2;
  background: #7BB933;
}

.modal__close {
  position: absolute;
  right: 5%;
  top: 3%;
  height: 20px;
  width: 20px;
  background: #7BB933;
}

.modal__close::after,
.modal__close::before {
  transition: background-color .3s;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #34353E;
  position: absolute;
  top: 50%;
  right: calc(50% - 10px);
}

.modal__close::after {
  transform: rotate(45deg);
}

.modal__close::before {
  transform: rotate(135deg);
}

.modal__close:hover::after,
.modal__close:hover::before {
  background-color: #7BB933;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.header__profile-signup {
  box-sizing: border-box;
  min-height: 3.875rem;
  min-width: 14.625rem;
  padding: 1.25rem;
  border-radius: 31px;
  background-color: #7BB933;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  transition: background-color .2s linear;
}

.header__profile-signup:hover {
  background-color: #8CD23A;
}

.header__profile-signup {
  min-height: 2.875rem;
  min-width: 10.9375rem;
  padding: .9375rem;
  border-radius: 23px;
  font-size: .875rem;
}

.modal,
.header__controls,
.header__box,
.header__logo-box {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: .5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #F2F2F2;
  background: #7BB933;
}

.modal__close {
  position: absolute;
  right: 5%;
  top: 3%;
  height: 20px;
  width: 20px;
  background: #7BB933;
}

.modal__close::after,
.modal__close::before {
  transition: background-color .3s;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #34353E;
  position: absolute;
  top: 50%;
  right: calc(50% - 10px);
}

.modal__close::after {
  transform: rotate(45deg);
}

.modal__close::before {
  transform: rotate(135deg);
}

.modal__close:hover::after,
.modal__close:hover::before {
  background-color: #7BB933;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.header__profile-signup {
  box-sizing: border-box;
  min-height: 3.875rem;
  min-width: 14.625rem;
  padding: 1.25rem;
  border-radius: 31px;
  background-color: #7BB933;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  transition: background-color .2s linear;
}

.header__profile-signup:hover {
  background-color: #8CD23A;
}

.header__profile-signup {
  min-height: 2.875rem;
  min-width: 10.9375rem;
  padding: .9375rem;
  border-radius: 23px;
  font-size: .875rem;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  cursor: default;
  background-color: #fff;
  color: #34353E;
}

section {
  position: relative;
}

p {
  color: #34353E;
}

ul {
  list-style: none;
}

.wrapper {
  width: calc(100% - 30px);
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper--header {
  width: calc(100% - 250px);
  max-width: 1500px;
}

a {
  color: #7BB933;
  display: inline-block;
  text-decoration: none;
}

svg {
  min-height: 1rem;
  height: 1rem;
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Raleway", sans-serif;
  border: none;
  background: none;
  outline: none;
}

textarea[disabled],
button[disabled],
input[disabled] {
  cursor: default;
  opacity: .7;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.preloader {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: all .3s;
}

.preloader::after {
  content: '';
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  height: 4rem;
  width: 4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.modal__box {
  padding: 2rem 3rem;
  box-sizing: border-box;
  position: relative;
  background-color: #EFEFF1;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

.header__container {
  position: relative;
  box-sizing: border-box;
  padding-top: 1rem;
}

.header__controls {
  position: absolute;
  right: 0;
  margin-bottom: 1.5625rem;
}

.header__search-btn {
  position: relative;
  top: 2px;
}

.header__box {
  justify-content: space-between;
  height: 6.875rem;
}

.header__logo-box {
  height: 2.6875rem;
  width: 14.375rem;
}

.header__logo {
  box-sizing: border-box;
  padding-right: 1.375rem;
  border-right: 1px solid #6B7785;
  margin-right: 1.375rem;
}

.header__name {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Exo 2", sans-serif;
  color: #6B7785;
}

.header__nav-item {
  position: relative;
  box-sizing: border-box;
  font-size: 1.125rem;
  font-weight: 500;
  color: #34353E;
}

.header__nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header__nav-item--has-subnav {
  padding-right: 1rem;
}

.header__nav-item--has-subnav::before,
.header__nav-item--has-subnav::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 6px;
  width: 1.3px;
  border-radius: 5px;
  background-color: #34353E;
  transition: transform .2s linear;
}

.header__nav-item--has-subnav::before {
  right: calc(.5rem - 4.5px);
  transform: rotate(55deg);
}

.header__nav-item--has-subnav::after {
  right: .5rem;
  transform: rotate(-55deg);
}

.header__nav-item--has-subnav:hover::before {
  transform: rotate(110deg);
}

.header__nav-item--has-subnav:hover::after {
  transform: rotate(-110deg);
}

.header__menu {
  margin-right: 2.0625rem;
}

.header__menu-item {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6B7785;
}

.header__menu-item:not(:last-child):after {
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;
  width: 4px;
  height: 4px;
  margin: 0 .6875rem;
  border-radius: 50%;
  background-color: #6B7785;
}

.header__profile-auth {
  font-size: 1rem;
  font-weight: 700;
  color: #7BB933;
  margin-right: 1.875rem;
  transition: color .2s linear;
}

.header__profile-auth:hover {
  color: #8CD23A;
}

@media (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1550px) {
  html {
    font-size: 15.5px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 14.5px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 13.5px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 12.5px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}